
/* ---------------- Used to style the TinyMCE editor. ---------------------*/

html .mceContentBody {
	max-width:640px;
	}

/*--------------- THIS RESTYLES THE TEXT EDITOR IN THE ADMIN AREA --------------- */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }


body, button, input, select, textarea {
	font-size: 0.9em;
	line-height: 1.4em;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #111111;
	}

p {
	padding: 0 0 15px 0;
	text-align: left;
	}
	
	footer {
	font-size: 0.8em;
	line-height: 0.8em;
	margin: 0;
	padding: 15px 0 0 0;
	color: #a1a1a1;
	}

/*--------------- HEADINGS --------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #111111;
	font-weight: bold;
	}
	
h1 {
	padding: 0 0 15px 0;
	font-size: 2em;
	line-height: 1em;
	}
	
h2 {
	padding: 0 0 15px 0;
	font-size: 1.8em;
	line-height: 1em;
	}

h3 {
	padding: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.3em;
	}
	
h4 {
	padding: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.3em;
	}

h5 {
	padding: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.3em;
	}

h6 {
	padding: 0 0 15px 0;
	font-size: 1.3em;
	line-height: 1.3em;
	}

/*--------------- OTHER TEXT STYLES --------------- */	
			
strong {
	font-weight:bold;
	color: #111111;
	}
	
em {
	font-style:italic;
	display:inline;
	}

blockquote {
	margin: 0;
	padding: 0;
	border: none;
	}

	blockquote cite {
	margin: 5px 0 0;
	display: block;
	}
	
	div#content blockquote {
	float: left;
	color: #333333;
	margin:0;
	padding:24px;
	text-align:justify;	
	}

hr {
	border: 0;
	color: #cfd0d4;
	background-color: #cfd0d4;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	margin: 6px 0 10px 0 ;
	padding: 0;
	}
	
/*==================================================================================================

     3. LINK STYLES
	 
================================================================================================== */	
	
a { color: #22A2EA;	text-decoration: underline;}

	a:hover { color: #000000; text-decoration: underline; }
	
	
	
/*==================================================================================================

	7. LISTS 
	
==================================================================================================*/

ul {
	margin: 0;
	padding: 5px 0 10px 20px;
	list-style-type: disc;
	}
	
	ul li {
	margin: 0;
	padding: 0 0 7px 0;
	list-style-type: disc;
	}	
	
	
/*==================================================================================================

	8. TABLES
	
 ====================================================================================================*/
 
table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
	}
	
	table th {
	padding: 7px 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	border-right: 1px solid #FFFFFF;
	}
	
	table td {
	padding: 7px 15px;
	border-bottom: 1px solid #CCCCCC;
	}	
	
	
/*==================================================================================================

	9. CSS3 BUTTONS - Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com
	
==================================================================================================*/

.button {
	background: #00a6fc;
	display: inline-block;
	text-align: center;
	padding: 9px 34px 11px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	position: relative;
	cursor: pointer;
	border: none;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button { -webkit-appearance: none; }
	
	.button.nice { 
	background: #00a6fc url(/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	background: #00a6fc url (/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
	background: #00a6fc url (/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
	border: 1px solid #0593dc;
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	}

	.button.radius {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	
	.button.round {
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	}

	.button.full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	}

	.button.left-align {
	text-align: left;
	text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #00a6fc;  }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.black.button		{ border: 1px solid #000; }
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; 	}
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; 	}
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }
	
	
/*==================================================================================================

	12. MISC STYLES
	
==================================================================================================*/

.float_right { float:right;	}
	
.float_left { float:left; }

.centre { margin: 0 auto; max-width: 980px; }

.align_right { text-align: right; }
	
.align_left { text-align: left;	}

.align_centre { text-align: center;	}

.skip-link { position: absolute; top: -200px; left: 0px; width: 10px; height: 10px; z-index: 100; }

div.pagination { float: left; width: 100%; padding: 20px 0 0 0;	}

.margin_top_20 { margin-top: 20px; }

.margin_bottom_20 { margin-bottom: 20px; }

.margin_top_30 { margin-top: 30px; }

.margin_bottom_30 { margin-bottom: 30px; }


/*-----------  Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com -----------------*/

/* Hide for both screenreaders and browsers: css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal. www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }	
