/* 
	Theme Name: Atelier Base 2012
	Description: Atelier Base Theme
	Author: Atelier Studios
	Author URI: http://www.atelier-studios.com/
	Date: January 2012
==================================================================================================
	
	1. GLOBAL RESETS
	2. TYPOGRAPHY
	3. LINK STYLES
	4. MAIN STRUCTURE
	5. THE FOUNDATION GRID - From Foundation Framework
	6. INNER ELEMEMTS
	7. LISTS
	8. TABLES
	9. CSS3 BUTTONS - From Foundation Framework
	10. MAIN NAVIGATION
	11. SIDEBAR SUB NAVIGATION
	12. MISC STYLES
	13. IMAGE REPLACEMENT HEADINGS
	14. IMAGE REPLACEMENT BUTTONS
	15. FORMS
	16. PRINT STYLES
	17. MOBILE STYLES
	18. IE STYLES

*/

/*==================================================================================================

	1. GLOBAL RESETS
	
 ====================================================================================================*/
 
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; } html, body {height: 100%; width: 100%; } table { border-collapse:separate; border-spacing:0; } /* Prevents sub and sup affecting line-height in all browsers - gist.github.com/413930 */ sub, sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline;} sup {top:-.5em;} sub {bottom:-.25em;} caption, th, td { text-align:left; font-weight:normal; } table, td, th { vertical-align: top; } blockquote:before, blockquote:after, q:before, q:after { content:""; } blockquote, q { quotes:"" ""; } a img { border:none; } /* || Reset all margins/padding => */ * { margin:0; padding:0; } /* || Gets rid of outlined links in Firefox => */ a {outline: none;} a:hover,a:active { outline:0; } /* || No boders on images and displays them as block level elements in IE6 => */img {border:0;	padding: 0;	margin: 0;	display: block;	} br {clear:both; line-height:10px;	} div#content br {clear: none;	line-height:10px;}	ul { margin: 0; padding: 0;	list-style-type: none; } ul li { margin: 0;	padding: 0;	list-style: none; }	/* || HTML 5 Resets taken from normalize.css 17-01-2012- http://github.com/necolas/normalize.css => */ article, aside, details, figcaption, figure, footer, header, hgroup, nav, section{display:block;}audio, canvas, video{display:inline;zoom:1;}audio:not([controls]),[hidden]{display:none;} /* || Form Resets taken from normalize.css 17-01-2012- http://github.com/necolas/normalize.css => */ legend{border:0;white-space:normal;margin-left:-7px;padding:0;} button,input,select,textarea{font-size:100%;vertical-align:middle;margin:0;} button,input{line-height:normal;} button,input[type=button],input[type=reset],input[type=submit]{cursor:pointer;-webkit-appearance:button;overflow:visible;} input[type=checkbox],input[type=radio]{box-sizing:border-box;height:13px;width:13px;padding:0;} input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;} button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;} textarea{overflow:auto;vertical-align:top;} input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-cancel-button{-webkit-appearance:none;} form, input, textarea, label, select, fieldset { margin: 0; padding: 0; } input { border: none; border: 0px solid #FFFFFF; vertical-align: top; overflow: visible; } article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }


/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 1px solid green; }*/


/*==================================================================================================

	2. TYPOGRAPHY
	
 ====================================================================================================*/
 
body, button, input, select, textarea {
	font-size: 12px;
	line-height: 18px;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	color: #111111;
	}


	.align_right { text-align: right; }
	.align_left { text-align: left;	}
	.align_centre { text-align: center;	}

p {
	padding: 0 0 15px 0;
	}
	
	.small, .small p {
	font-size: 11px;
	line-height: 16px;
	}

	.medium_text {
	font-size: 14px;
	line-height: 18px;
	}

	.large_text {
	font-size: 16px;
	line-height: 22px;
	}
	
	.italic { font-style: italic; }
	
	footer {
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 15px 0 0 0;
	color: #a1a1a1;
	}

/*--------------- HEADINGS --------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #111111;
	font-weight: bold;
	}
	
h1 {
	padding: 0 0 15px 0;
	font-size: 26px;
	line-height: 28px;
	}
	
h2 {
	padding: 0 0 15px 0;
	font-size: 22px;
	line-height: 24px;
	}

h3 {
	padding: 0 0 15px 0;
	font-size: 20px;
	line-height: 24px;
	}
	
h4 {
	padding: 0 0 15px 0;
	font-size: 18px;
	line-height: 22px;
	}

h5 {
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 20px;
	}

h6 {
	padding: 0 0 15px 0;
	font-size: 14px;
	line-height: 18px;
	}

/*--------------- OTHER TEXT STYLES --------------- */	
			
strong {
	font-weight:bold;
	color: #111111;
	}
	
em {
	font-style:italic;
	display:inline;
	}

blockquote {
	margin: 0;
	padding: 0;
	border: none;
	}

	blockquote cite {
	margin: 5px 0 0;
	display: block;
	}
	
	div#content blockquote {
	float: left;
	color: #333333;
	margin:0;
	padding:24px;
	text-align:justify;	
	}

hr {
	border: 0;
	color: #cfd0d4;
	background-color: #cfd0d4;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	margin: 6px 0 10px 0 ;
	padding: 0;
	}

/*==================================================================================================

     3. LINK STYLES
	 
================================================================================================== */	
	
a { color: #22A2EA;	text-decoration: underline;}

	a:hover { color: #000000; text-decoration: underline; }

footer a { color: #999999; text-decoration: none; }

	footer a:hover { color: #eda438; text-decoration: underline; }
	

/*==================================================================================================

	4. MAIN STRUCTURE
	
==================================================================================================*/	

div#page_centre {
	margin: 0 auto;
	max-width: 980px;
	height: auto;
	position: relative;
	z-index: 5;
	}

header {
	width: 100%;
	height: 154px;
	position: relative;
	z-index: 60;
	/*background-color: #FFCC33;*/
	}
	
	nav {
	width: 100%;
	height: 44px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 40;
	background-color: #000;
	}
	
div.content_container {
	position: relative;
	z-index: 10;	
	margin: 30px 0 20px 0;
	float: left;
	color:#999999
	}
	
	div#content {
	background-color: #FFFFFF;
	position: relative;
	z-index: 40;	
	}

	#sidebar {
	/*background: #99CC33;*/
	position: relative;
	z-index: 50;	
	}

footer {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	z-index: 30;
	padding: 20px 0 40px 0;
	border-top: 1px solid #CCCCCC;
	/*background-color: #9966CC;*/
	}

/*==================================================================================================

	5. THE FOUNDATION GRID - Copied from Foundation - Nov 2012 - v3.2 http://foundation.zurb.com
	
==================================================================================================*/	


/* ----- ADD BY ATELIER------ ADDED STYLES TO BE ABLE TO FLOAT SIDEBAR LEFT AND CONTENT RIGHT */

	.columns.no_margin { margin-left: 0; }
	.columns.margin { margin-left: 4.4%; }
	
/* ----- ADD BY ATELIER ENDS------ */

	.container { padding: 0 20px; }
	.row { width: 100%; max-width: 980px; margin: 0 auto; clear: both; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .row.fixed { width: 980px; max-width: none!important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }	 
	.row .row { min-width: 0; }
	.column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
	.column:first-child, .columns:first-child { margin-left: 0; }

/*	--------------------------------------------------
	Columns
	-------------------------------------------------- */

	.row .one.columns 		{ width: 4.3%; }
	.row .two.columns 		{ width: 13%; }
	.row .three.columns 	{ width: 21.68%; }
	.row .four.columns 		{ width: 30.37%; }
	.row .five.columns 		{ width: 39.1%; }
	.row .six.columns 		{ width: 47.8%; }
	.row .seven.columns 	{ width: 56.5%; }
	.row .eight.columns 	{ width: 65.2%; }
	.row .nine.columns 		{ width: 73.9%; }
	.row .ten.columns 		{ width: 82.6%; }
	.row .eleven.columns 	{ width: 91.3%; }
	.row .twelve.columns 	{ width: 100%; }
	
	
/*	--------------------------------------------------
	Grid Misc Styles
	-------------------------------------------------- */

	img { max-width: 100%; height: auto; }
	.map img, img.indicator {  max-width: none; height: auto; width: auto; }
	img { -ms-interpolation-mode: bicubic; }
	#map img, .map_canvas img { 	max-width: none!important; }
	
	/* Nicolas Gallagher's micro clearfix */
	.row { *zoom: 1; }
	.row:before, .row:after { content: ""; display: table; }
	.row:after { clear: both; }


/*  --------------------------------------------------
    ATELIER POSITIONING - MARGIN PADDING ETC
    -------------------------------------------------- */

    .inline_block { display: block; }

/*---------- POSITIONING ---------**/

    .float_right { float:right; }
    .float_left { float:left; }
    .float_none { float: none !important; }
    .clear { clear:both; }
    .no_clear { clear: none!important; }
    .centre { margin: 0 auto; }
    
    .z_index_top { z-index: 9999; }

    .z_index_middle { z-index: 100; }

    .z_index_bottom { z-index: 1; }
    
/*---------- POSITIONING ---------**/

    .height_70 { height: 70px; }
    .height_80 { height: 80px; }
    .height_100 { height: 100px; }
    .height_120 { height: 120px; }
    .height_140 { height: 140px; }
    .height_143 { height: 143px; }
    .height_150 { height: 150px; }
    .height_160 { height: 160px; }
    .height_170 { height: 170px; }
    .height_190 { height: 190px; }
    .height_220 { height: 220px; }
    .height_240 { height: 240px; }
    .height_260 { height: 260px; }
    .height_280 { height: 280px; }
    .height_340 { height: 340px; }
    .height_300 { height: 300px; }
    .height_420 { height: 420px; }
    .height_640 { height: 640px; }

    
/*---------- MARGINS ---------**/

    .margin_none { margin: 0 0 0 0!important; }

    .margin_top_3 { margin-top: 3px; }
    .margin_top_5 { margin-top: 5px; }
    .margin_top_10 { margin-top: 10px; }
    .margin_top_15 { margin-top: 15px; }
    .margin_top_20 { margin-top: 20px; }
    .margin_top_30 { margin-top: 30px; }
    .margin_top_40 { margin-top: 40px; }
    .margin_top_50 { margin-top: 50px; }
    .margin_top_50 { margin-top: 50px; }

    .margin_bottom_5 { margin-bottom: 5px; }
    .margin_bottom_10 { margin-bottom: 10px; }
    .margin_bottom_15 { margin-bottom: 15px; }
    .margin_bottom_25 { margin-bottom: 25px; }
    .margin_bottom_20 { margin-bottom: 20px; }
    .margin_bottom_30 { margin-bottom: 30px; }
    .margin_bottom_40 { margin-bottom: 40px; }
    
    .margin_left_5 { margin-left:5px;}
    .margin_left_10 { margin-left:10px;}
    .margin_left_15 { margin-left:15px;}
    .margin_left_20  { margin-left: 20px; }
    
    .margin_right_10 { margin-right: 10px!important; }
    .margin_right_15 { margin-right: 15px; }
    .margin_right_20 { margin-right: 20px; }
    .margin_right_30 { margin-right: 30px; }


/*---------- PADDING ---------**/

    .padding_none { padding: 0 0 0 0!important; }
    .padding_bottom_none { padding-bottom: 0!important; }
    
    .padding_top_2 { padding-top: 2px; }
    .padding_top_5 { padding-top: 5px; }
    .padding_top_10 { padding-top: 10px; }
    .padding_top_15 { padding-top: 15px; }
    .padding_top_20 { padding-top: 20px; }
    .padding_top_30 { padding-top: 30px; }
    .padding_top_35 { padding-top: 35px; }
    .padding_top_40 { padding-top: 40px; }
    .padding_top_60 { padding-top: 60px; }
    .padding_top_110 { padding-top: 110px; }
    
    .padding_bottom_1 { padding-bottom: 1px; }
    .padding_bottom_5 { padding-bottom: 5px; }
    .padding_bottom_10 { padding-bottom: 10px; }
    .padding_bottom_15 { padding-bottom: 15px; }
    .padding_bottom_20 { padding-bottom: 20px; }
    .padding_bottom_30 { padding-bottom: 30px; }
    .padding_bottom_35 { padding-bottom: 35px; }
    .padding_bottom_40 { padding-bottom: 40px; }
    .padding_bottom_50 { padding-bottom: 50px; }
    .padding_bottom_100 { padding-bottom: 100px; }

    .padding_top_5_bottom_5  { padding-top: 5px; padding-bottom: 5px; }
    .padding_top_10_bottom_10  { padding-top: 10px; padding-bottom: 10px; }
    .padding_top_15_bottom_15 { padding-top: 15px; padding-bottom: 15px; }
    .padding_top_20_bottom_20 { padding-top: 20px; padding-bottom: 20px; }
    .padding_top_40_bottom_40 { padding-top: 40px; padding-bottom: 40px; }
    
    .padding_left_10 { padding-left: 10px; }
    .padding_left_15 { padding-left: 15px; }
    .padding_left_20 { padding-left: 20px; }
    .padding_left_30 { padding-left: 30px; }
    .padding_left_40 { padding-left: 40px; }
    
    .padding_right_5 { padding-right: 5px; }
    .padding_right_10 { padding-right: 10px; }
    .padding_right_15 { padding-right: 15px; }
    .padding_right_20 { padding-right: 20px; }
    .padding_right_30 { padding-right: 30px; }
    .padding_right_40 { padding-right: 40px; }
    .padding_right_50 { padding-right: 50px; }

    .padding_left_10_right_10 { padding-right: 10px; padding-left: 10px; }
    .padding_left_15_right_15 { padding-right: 15px; padding-left: 15px; }
    .padding_left_20_right_20 { padding-right: 20px; padding-left: 20px; }
    .padding_left_25_right_25 { padding-right: 25px; padding-left: 25px; }
    .padding_left_30_right_30 { padding-right: 30px; padding-left: 30px; }
    .padding_left_35_right_35 { padding-right: 35px; padding-left: 35px; }
    .padding_left_40_right_40 { padding-right: 40px; padding-left: 40px; }
    .padding_left_75_right_75 { padding-right: 75px; padding-left: 75px; }
    .padding_left_80_right_80 { padding-right: 80px; padding-left: 80px; }



/*---------- Border ---------**/
    
    .border_right_1px { border-right: 1px solid #cfcfcf; }

    .border_1px_grey { border: 1px solid #dedede; }

    .border_top_1px_grey { border-top: 1px solid #d8d8d8; }
    
    .border_top_1px_grey { border-top: 1px solid #dedede; }

    .border_top_1px_white { border-top: 1px solid #fff; }

    .border_bottom_1px_white { border-bottom: 1px solid #fff; }

    .border_light_grey_1px { border-right: 1px solid #E7E7E7; }
    
    .border_bottom_white_1px { border-bottom: 1px solid #fff; }

    .border_bottom_brown_1px { border-bottom: 1px solid #79592e; }
    
    .border_bottom_dark_grey_1px { border-bottom: 1px solid #d2d2d2; }
    
    .border_bottom_light_grey_1px { border-bottom: 1px solid #d8d8d8; }

    .border_light { border: 1px solid #dfdfdf; }

   /* border-bottom:1px solid #e2e2e2;*/

        
    .border_radius { -webkit-border-radius: 6px; border-radius: 6px; }

    .border_radius_large { -webkit-border-radius: 12px; border-radius: 12px; }

    .borderbottom { border-bottom:1px dotted #bbb; }

    .borderright { border-right:1px dotted #bbb; }

    .thickborder { border-bottom:3px solid #bbb; }

    .thickborderdotted { border-top:3px dotted #bbb; border-bottom:3px dotted #bbb; }

    .border_light_grey { border:1px solid #bbb; }
        
	
/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	
	.white_panel { background: #fff;	}
	
	.light_grey_panel { background: #ededed; }

	.green_panel { background: #6fa651; }

	.brown_panel { background: #855024; }

	.beige_panel { background: #f3eedf; }


	
/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	
	.white_panel { background: #fff;	}
	
	.light_grey_panel { background: #ededed; }

	.green_panel { background: #6fa651; }

	.brown_panel { background: #855024; }

	.beige_panel { background: #f3eedf; }



/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */
	div.panel {
		padding: 20px;
		background: #efefef;
		background: -moz-linear-gradient(top, #FFFFFF 0%, #F4F4F4 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FFFFFF), color-stop(100%,#F4F4F4));
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#F4F4F4',GradientType=0 );
		box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.15);
		-moz-box-shadow: 0 2px 5px rgba(0,0,0,0.25);
		margin: 0 0 20px 0;
	}



/*-----------  Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com -----------------*/

/* Hide for both screenreaders and browsers: css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal. www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }	




/*==================================================================================================

	6. INNER ELEMEMTS
	
==================================================================================================*/


/*---------- Homepage Slider Styles -----------*/

div.sub_header {
	background-color: #C9C9C9;
	position: relative;
	width: 980px;
	height: 300px;
	z-index: 10;
	margin: 0 0 20px 0;
	}

	div.slide_container {
	float: left;
	width: 980px;
	height: 300px;
	position: relative;
	overflow: hidden;
	z-index: 10;
	margin: 0 0 20px 0;
	}
	
	div.slide {
	width: 100%;
	height: 300px;
	}
	
	/*---------- Slides - The Post ID is applied to the slides so these numbers won't always be sequential  -----------*/

	div.slide_wrapper {
	margin: 0 auto;
	width: 100%;
	height: 300px;
	position: relative;
	}
	


	/*---------- Slide Images - By default images are added to the slides by the styles below  -----------*/

	div.text_position {
	position: absolute;
	width: 410px;
	height: 180px;
	top: 85px;
	right: 55px;
	z-index: 500;
	}
	
	div.slide_image {
	background-image:;
	background-repeat: no-repeat;
	position: absolute;
	z-index: 20;
	width: 200px;
	height: 200px;
	top: 50px;
	left: 50px;	
	}

		
/*---------- Homepage Slider Nav -----------*/


div.slider_nav_conatiner {
	float: left;
	clear: both;
	position: relative;
	height: 1px;
	width: 100%;
	z-index: 9999;	
	}

ul.slider_nav {
	width: 160px;
	height: 15px;
	position: absolute;
	bottom: 50px;
	left: 460px;
	z-index: 8888;
	list-style: none;
	}
	
	ul.slider_nav li {
	float: left;
	padding: 0 10px 0 0;
	}
	
	ul.slider_nav li a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: #000000;
	width: 8px;
	height: 8px;
	opacity:0.6;
  	filter:alpha(opacity=60); /* For IE8 and earlier */
	}
	
	ul.slider_nav li.activeSlide a {
	opacity: 1.0;
 	 filter:alpha(opacity=100); /* For IE8 and earlier */
	}

/*---------------------------- NEWS STYLES ----------------------------*/

.news_article_container {
	float: left;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #e2e2e2;
	}
	
	.news_article_container:first-child {
	padding: 0 0 20px 0;
	border-top: none;
	}
	
	p.news_month {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 0;
    text-align: center;
	background: #999;
	}

	p.news_day {
    color: #666666;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    line-height: 26px;
    padding: 6px 0 10px 0;
    text-align: center;
	border: 1px solid #e2e2e2;
	}
	
/*==================================================================================================

	7. LISTS 
	
==================================================================================================*/

div#content ul {
	margin: 0;
	padding: 5px 0 10px 20px;
	list-style-type: disc;
	}
	
	div#content ul li {
	margin: 0;
	padding: 0 0 7px 0;
	list-style-type: disc;
	}

ul.news_feature li {
	padding: 15px 0 0 0;
	border-top: 1px solid #CCCCCC;
	}
	
div#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	}
	
	div#sidebar ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

div#content ol {
	padding: 5px 0 10px 22px;
	margin: 0;
	}
	
	div#content ol li {
	margin: 0;
	padding: 0 0 10px 0;
	}
	
p.knwbse-title {
	font-size: 16px;
	color: #00B2DF;
}

/*==================================================================================================

	8. TABLES
	
 ====================================================================================================*/
 
div#content table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
	}
	
	div#content table th {
	padding: 7px 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	border-right: 1px solid #FFFFFF;
	}
	
	div#content table td {
	padding: 7px 15px;
	border-bottom: 1px solid #CCCCCC;
	}

/*==================================================================================================

	9. CSS3 BUTTONS - Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com
	
==================================================================================================*/

.button {
	background: #000;
	display: inline-block;
	text-align: center;
	padding: 9px 34px 11px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 1;
	position: relative;
	cursor: pointer;
	border: none;
	}
	
  	/* Don't use native buttons on iOS */
	input[type=submit].button { -webkit-appearance: none; }
	
	.button.nice { 
	background: #000 url(/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.28);
	background: #000 url (/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px, -moz-linear-gradient(top, rgba(255,255,255,.4) 0%, transparent 100%);
	background: #000 url (/wp-content/themes/atelier_base_2015/furniture/images/buttons/button-gloss.png) repeat-x 0 -34px, -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.4)), color-stop(100%,transparent));
	border: 1px solid #0593dc;
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	}

	.button.radius {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	}
	
	.button.round {
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border-radius: 1000px;
	}

	.button.full-width {
	width: 100%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	text-align: center;
	}

	.button.left-align {
	text-align: left;
	text-indent: 12px;
	}
	
	/* Sizes ---------- */
	.small.button 			{ font-size: 11px; padding: 8px 20px 10px; width: auto; }
	.medium.button 			{ font-size: 13px; width: auto; }
	.large.button 			{ font-size: 18px; padding: 11px 48px 13px; width: auto; }

	/* Nice Sizes ---------- */
	.nice.small.button 		{ background-position: 0 -36px; }
	.nice.large.button 		{ background-position: 0 -30px; }

	/* Colors ---------- */
	.blue.button			{ background-color: #000;  }
	.red.button				{ background-color: #e91c21; }
	.white.button			{ background-color: #e9e9e9; color: #333; }
	.black.button			{ background-color: #141414; }
	
	/* Nice Colors ---------- */
	.nice.blue.button		{ border: 1px solid #0593dc;  }
	.nice.red.button		{ border: 1px solid #b90b0b;  }
	.nice.white.button		{ border: 1px solid #cacaca; text-shadow: none !important; }
	.nice.black.button		{ border: 1px solid #000; }
	
	/* Hovers ---------- */
	.button:hover, .button:focus 				{ background-color: #0192dd; color: #fff; }
	.blue.button:hover, .blue.button:focus		{ background-color: #0192dd; 	}
	.red.button:hover, .red.button:focus 		{ background-color: #d01217; 	}
	.white.button:hover, .white.button:focus	{ background-color: #dadada; color: #333; }
	.black.button:hover, .black.button:focus	{ background-color: #000; }
	
	/* Disabled ---------- */
	.button.disabled, .button[disabled] { opacity: 0.6; cursor: default; }


/*==================================================================================================

	10. MAIN NAVIGATION - CSS DROP DOWN MENU WITH JQUERY FADE IN EFFECT - ALTERED BY ATELIER - INSPIRED BY - http://www.webinterfacelab.com/snippets/tabbed-navigation
	
==================================================================================================*/	

/*------ MAIN NAV ITEMS ---------*/

ul.main_nav > li {
	float: left;
	border-right: 1px solid #FFFFFF;
	}
	
	ul.main_nav > li > a {
	display: block;
	height: 32px;
	font-size: 1.1em;
	padding: 12px 20px 0 20px;
	color: #fff;
	font-weight: bold;
	background: #000;
	text-decoration: none;
	}
	
	ul.main_nav > li > a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-color: #999;
	}
	
	ul.main_nav > li.active > a, 
	ul.main_nav > li > a:active, 
	ul.main_nav > li.dropdown:hover > a {
	background: #999;
	color: #FFFFFF;
	}

/*------ CASCADING STYLES FOR DROP DOWN LINK STYLES ---------*/

li.dropdown ul {
	background: #999;
	border-top: 1px solid #dadada;
	border-left: 1px solid #dadada;
	border-right: 1px solid #dadada;
	}
	
li.dropdown li {
	display: block;
	overflow: visible;
	float: left;
	}

li.dropdown li a {
	display: block;
	color: #fff;
	padding: 10px 20px;
	float: left;
	min-width: 140px;
	border-bottom: 1px solid #eee;
	text-decoration: none;
	}
	
	li.dropdown li a:hover {
	color: #fff;
	background: #000000;
	text-decoration: underline;
	}

/*------ DROP DOWN LEVEL ONE ---------*/
	
li.dropdown {
	position: relative;
	}
	
li.dropdown ul {
	display: none;
	position: absolute;
	top: 44px;
	left: -1px;
	min-width: 180px;
	}

/*------ DROP DOWN LEVEL TWO ---------*/

li.dropdown > ul > li.page_item {
	position: relative;
	}
	
li.dropdown > ul > li.page_item ul {
	display: none;
	position: absolute;
	top: -1px;
	left: 180px;
	min-width: 180px;
	}

/* ---------- This is only need if your not using the jQuery fade in functionality, switching this on would make pure CSS menus work

	li.dropdown:hover ul {
		display: block;
		}
	
	li.dropdown > ul > li.page_item:hover ul {
		display: block;
		}

*/


/*==================================================================================================

	11. SIDEBAR SUB NAVIGATION
	
==================================================================================================*/

ul.sidebar_nav {
	float: left;
	width: 100%;
	background: #EEE;
	}

	ul.sidebar_nav li {
	float: left;
	clear: both;
	width: 100%;
	}
	
	ul.sidebar_nav li a {
	display: block;
	padding: 8px 0 8px 15px;
	color:#4d4f53;
	text-decoration: none;
	border-bottom: 1px solid #999999;
	}
	
	ul.sidebar_nav li.current_page_item a {
	color: #000;
	}
	
		ul.sidebar_nav li.current_page_item a:hover,
		ul.sidebar_nav li a:hover {
		text-decoration: underline;
		}
		
/* --------------------- SECOND LEVEL NAVIGATION ------------------------- */

ul.sidebar_nav li.current_page_item ul,
ul.sidebar_nav li.current_page_ancestor ul {
	display: block;
	clear: both;
	float: left;
	width: 100%;
	list-style: none;
	}

	ul.sidebar_nav li.current_page_item ul li,
	ul.sidebar_nav li.current_page_ancestor ul li {
	clear: both;
	width: 100%;
	}
	
	ul.sidebar_nav li.current_page_item ul li a,
	ul.sidebar_nav li.current_page_ancestor ul li a {
	color: #666666;
	text-decoration: none;
	padding: 8px 0 8px 40px;
	}
	
	ul.sidebar_nav li.current_page_item ul li.current_page_item a,
	ul.sidebar_nav li.current_page_ancestor ul li.current_page_item a {
	color: #000;
	}
	
		ul.sidebar_nav li.current_page_item ul li a:hover {
		text-decoration: underline;
		}

/*==================================================================================================

	12. MISC STYLES
	
==================================================================================================*/


.skip-link { position: absolute; top: -200px; left: 0px; width: 10px; height: 10px; z-index: 100; }

div.pagination { float: left; width: 100%; padding: 20px 0 0 0;	}

#map { height: 380px; margin: 0 0 10px 0; }

.featured_image { float: right; margin: 0 0 15px 15px; }


/*--- Just Used In Wire Frame Stage to add sticky notes - Delete from here and the footer before go live ----*/

.sticky_position {
	width: 1px;
	height: 1px;
	float: left;
	position: relative;
	z-index: 9999;
	}

.sticky_note {
	width: 180px;
	position: absolute;
	z-index: 9999;
	padding: 20px 30px 10px 30px;
	background: #ffffd1; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffd1 0%, #ffff88 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffd1), color-stop(100%,#ffff88)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffd1 0%,#ffff88 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffd1 0%,#ffff88 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffd1 0%,#ffff88 100%); /* IE10+ */
	background: linear-gradient(top, #ffffd1 0%,#ffff88 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffd1', endColorstr='#ffff88',GradientType=0 ); /* IE6-9 */
	box-shadow: 8px 8px 8px rgba(0,0,0,0.15);
	-webkit-box-shadow: 8px 8px 8px rgba(0,0,0,0.15);
	-moz-box-shadow: 8px 8px 8px rgba(0,0,0,0.25);
	opacity:0.9;
	filter:alpha(opacity=90); /* For IE8 and earlier */
	border: 2px solid #d0d06c;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	}
	
/*--- STICKY NOTES ENDS ----*/




/*==================================================================================================

	13. IMAGE REPLACEMENT HEADINGS
	
==================================================================================================*/

	/* {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	border: none;
	}*/
	
/*------------- IMAGE REPLACEMENT SIZES & POSITION -----------------*/
	
	
/*==================================================================================================

	14. IMAGE REPLACEMENT BUTTONS
	
==================================================================================================*/

/*------------- IMAGE REPLACEMENT BUTTON RESETS - ADD ALL BUTTON CLASSES HERE -----------------*/

	a.logo, a.next, a.previous, p.social_icons a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	border: none;
	}
	
/*------------- BUTTON RESETS ENDS -----------------*/

	a.logo {
	width: 220px;
	height: 70px;
	position: absolute;
	z-index: 4000;
	left: 0px;
	top: 14px;
	background: url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png) no-repeat 0 0;
	}

	a.next {
	background:url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png) no-repeat -438px 0; 
	width: 27px; 
	height: 27px;
	position: absolute;
	bottom: 150px;
	right: -20px;
	z-index: 8888;
	}
	
	a.previous {
	background:url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png) no-repeat -393px 0; 
	width: 27px; 
	height: 27px;
	position: absolute;
	bottom: 150px;
	left: -20px;
	z-index: 9999;
	}

p.social_icons {
	position: relative;
	float: right;
	clear: both;
	width: 200px;
	}

	p.social_icons a {
	background-image: url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png); 
	width: 16px; 
	height: 16px;
	float: right;
	margin: 0 0 0 5px;
	}

	a.linkedin_icon {
	background-position: -316px 0;
	}
	
	a.facebook_icon {
	background-position: -338px 0;
	}	

	a.twitter_icon {
	background-position: -360px 0;
	}
	
	a.rss_icon {
	background-position: -293px 0;
	}


	

/*==================================================================================================

	15. FORMS
	
 ====================================================================================================*/

form.page_form { float: none; }

/*============ LABEL STYLES ================*/

label {
	float: left;
	clear: both;
	text-align: right;
	padding: 8px 15px 0 0;
	}
	
	label.short_label {	width: 55px; }
	
	label.medium_label { width: 60px; }
	
	label.long_label { width: 220px; }
	
	label.check_box_label {
	float: none;
	padding: 2px 0 0 10px;
	margin: 0;
	}
	
	label.small_text_checkbox {
	font-weight: normal;
	font-size: 11px;	
	}
	
/*============ SELECT STYLES ================*/
	
select {
	padding: 3px;
	height: 25px;
	margin: 0 0 8px 0;
	border: 1px solid #c5c3c4;
	background-color: #FFFFFF;
	}		
	
	select.short_select { width: 80px; margin: 0 15px 8px 0; }
	
	select.medium_select { width: 178px; }	
	
	select.long_select { width: 227px; }		

/*============ FIELDSET STYLES ================*/

fieldset {
	clear: both;
	border: none;
	}		

/*============ TEXT FIELD STYLES ================*/

input {
	color: #212121;
	}
	
	input.short_text_field,
	input.medium_text_field,
	input.long_text_field { float: left; padding: 9px 8px 9px 8px; border: 1px solid #c5c3c4; }
	
	input.short_text_field:focus,
	input.medium_text_field:focus,
	input.long_text_field:focus { background: #f8f8f8; }	

	input.short_text_field { width: 100px; }
	
	input.medium_text_field { width: 200px; }	
	
	input.long_text_field { width: 300px; }	

/*============ TEXT AREA STYLES ================*/

textarea {
	height: 117px;
	margin: 0 0 8px 0;
	padding: 9px 8px 9px 8px;
	border: 1px solid #c5c3c4;
	float: left;
	}
	
	textarea:focus { background: #f8f8f8; }
	
	textarea.medium_text_area { width: 200px; }

/*============ CHECK BOXES ================*/

span.checkbox_container {
	float: left;
	clear: both;
	}
	
	span.checkbox_long { padding: 0 0 8px 265px; }
	
	span.checkbox_medium { padding: 0 0 8px 235px; }	
	
	span.checkbox_short { padding: 0 0 8px 95px; }	
	
	input.checkbox { padding: 5px 10px 0 0; }
	

/*============ INPUT BUTTON STYLES ================*/


input.wpcf7-submit {
	display: block;
	font-weight: bold;
	font-size: 12px;
	line-height: 13px;
	color: #FFFFFF;
	padding: 8px 15px;
	margin: 10px 0 0 135px;
	border: 0;
	cursor: pointer;
	float: left;
	clear: both;
 	background-color: #000;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;	
	}

/*============ CONTACT FORM 7 STYLES ================*/

div.wpcf7, form.wpcf7-form {
	width: 100%;
	float: left;
	padding: 20px 0 0 0;
	}

div.wpcf7-display-none {
	display: none;
	}

div.wpcf7-response-output {
    padding: 10%;
	float: left;
	clear: both;
	width: 80%;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	position: relative;
	bottom: 3px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	}
	
	div.wpcf7-validation-errors {
	color:#CC0000;
	border: 2px solid #f3a653;
	background: #FFFF99;	
	}		
		
		span.wpcf7-form-control-wrap {
		position: relative;
		float: left;
		}
	
		span.wpcf7-not-valid-tip {
	 	background: none repeat scroll 0 0 #FFFF99;
		border: 2px solid #F3A653;
		color: #CC0000;
		left: 2px;
		padding: 5px;
		position: absolute;
		text-align: center;
		top: 3px;
		width: 200px;
		z-index: 100;
		-webkit-border-radius: 6px;
		-moz-border-radius: 6px;
		border-radius: 6px;		
		}	
	
	div.wpcf7-mail-sent-ok {
	color: #339933;
	border: 2px solid #82B827;
	background: #bbe57f;
	}	

span.wpcf7-form-control-wrap { float: left;	margin: 0; padding: 0;	}

div.wpcf7 br { clear: none;	}

div.wpcf7 p { width: 100%; float: left; clear: both; }
	
div.wpcf7 img.ajax-loader {
  	border: none;
    vertical-align: middle;
	position: absolute;
	bottom: 23px;
	left: 206px;
	z-index: 50;
	}


/*==================================================================================================

	16. PRINT STYLES - Inlined to avoid additional HTTP connection request  - Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com
	
==================================================================================================*/
		
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
	-ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
	a, a:visited { color: #444 !important; text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3{ page-break-after: avoid; }
 
/*------ ADDED BY ATELIER --------*/
  
 	.no_print { display: none; }
  
	.row .one.columns, .row .two.columns, .row .three.columns, .row .four.columns, .row .five.columns, .row .six.columns, .row .seven.columns, .row .eight.columns, 
	.row .nine.columns, .row .ten.columns, .row .eleven.columns, .row .twelve.columns 	{ width: 100%; clear: both; padding: 0 0 30px 0; }  
	
	.column, .columns { margin-left: 0; float: left; min-height: 1px; position: relative;  }
	
	.columns.margin { margin-left: 0; }
}		

/*==================================================================================================

	13. MOBILE STYLES  - Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com
	
==================================================================================================*/

	@media only screen and (max-width: 767px) {		
		body { -webkit-text-size-adjust: none; -ms-text-size-adjust: none; width: 100%; min-width: 0; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }
		.container { min-width: 0; margin-left: 0; margin-right: 0; }
		.row { width: 100%; min-width: 0; margin-left: 0; margin-right: 0; }
		.row .row .column, .row .row .columns { padding: 0; }
		.column, .columns { width: auto !important; float: none; margin-left: 0; margin-right: 0; }
		.column:last-child, .columns:last-child { margin-right: 0; }
		
		.offset-by-one, .offset-by-two, .offset-by-three, .offset-by-four, .offset-by-five, .offset-by-six, .offset-by-seven, .offset-by-eight, .offset-by-nine, .offset-by-ten, .offset-by-eleven, .centered { margin-left: 0 !important; }
		
		.push-two, .push-three, .push-four, .push-five, .push-six, .push-seven, .push-eight, .push-nine, .push-ten { left: auto; }
		.pull-two, .pull-three, .pull-four, .pull-five, .pull-six, .pull-seven, .pull-eight, .pull-nine, .pull-ten { right: auto; }
		
		/* Mobile 4-column Grid */
		.row .phone-one.column:first-child, .row .phone-two.column:first-child, .row .phone-three.column:first-child, .row .phone-four.column:first-child, .row .phone-one.columns:first-child, .row .phone-two.columns:first-child, .row .phone-three.columns:first-child, .row .phone-four.columns:first-child { margin-left: 0; }
		
		.row .phone-one.column, .row .phone-two.column, .row .phone-three.column, .row .phone-four.column,
		.row .phone-one.columns, .row .phone-two.columns, .row .phone-three.columns, .row .phone-four.columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; padding: 0; }
		
		.row .phone-one.columns 	{ width: 21.68% !important; }
		.row .phone-two.columns 	{ width: 47.8% !important; }
		.row .phone-three.columns 	{ width: 73.9% !important; }
		.row .phone-four.columns 	{ width: 100% !important; }
		
		.row .columns.push-one-phone { left: 26.08%; }
		.row .columns.push-two-phone { left: 52.2% }
		.row .columns.push-three-phone { left: 78.3% }
		
		.row .columns.pull-one-phone { right: 26.08% }
		.row .columns.pull-two-phone { right: 52.2% }
		.row .columns.pull-three-phone { right: 78.3%; }


/*----- ADDED BY ATELIER JAN 2012 --------------*/
		
		.phone_container {  }
		
		div#content { padding: 0 20px; }
	
		ul.dropdown ul { display: none;	}	

		.float_right { float: left;	}
				
		.align_right { text-align: left; }
		
		label {	text-align: left; }
						
		label.medium_label { width: 120px; }		
		
	}
	
/* -------  Mobile Visibility Affordances ----------*/
	
	.show-on-phones { display: none !important; }	
	.show-on-tablets { display: none !important; }
	.show-on-desktops { display: block !important; }
	
	.hide-on-phones { display: block !important; }	
	.hide-on-tablets { display: block !important; }
	.hide-on-desktops { display: none !important; }
	
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		.hide-on-phones { display: block !important; }
		.hide-on-tablets { display: none !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: none !important; }
		.show-on-tablets { display: block !important; }
		.show-on-desktops { display: none !important; }
	}
	
		
	@media only screen and (max-width: 767px) {
		.hide-on-phones { display: none !important; }
		.hide-on-tablets { display: block !important; }
		.hide-on-desktops { display: block !important; }
		
		.show-on-phones { display: block !important; }
		.show-on-tablets { display: none !important; }
		.show-on-desktops { display: none !important; }
	}
	
	/* only screen and (device-width: 1280px), only screen and (max-device-width: 1280px),  /*
	/* Keeping this in as a reminder to address support for other tablet devices like the Xoom in the future */
	
	/* Specific overrides for elements that require something other than display: block */
	
	table.show-on-desktops { display: table !important; }
	table.hide-on-phones { display: table !important; }	
	table.hide-on-tablets { display: table !important; }
	
	@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px) {
		table.hide-on-phones { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-tablets { display: block !important; }
	}
	
	@media only screen and (max-width: 767px) {
		table.hide-on-tablets { display: block !important; }
		table.hide-on-desktops { display: block !important; }
		table.show-on-phones { display: block !important; }
	}	

/*==================================================================================================

	13. IE STYLES - This is for all IE specfific style less than IE9 
	
==================================================================================================*/

#ie6 div.page_container_ie6 { width: 980px; } 



/*==================================================================================================

	14. COOKIE CUTR STYLES - Cookies pop up warning - cookieCuttr by Chris Wharton (http://cookiecuttr.com) 
	
==================================================================================================*/


.cc-cookies {
	position:fixed;
	width: 90%;
	left: 0;
	top: 0;
	padding: 0.5em 5%;
	background: #666666;
	opacity:0.95;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
	z-index: 99999;
	text-align: center;
	color: #fff;
}

.cc-cookies a, .cc-cookies a:hover {
	color: #fff;
	text-decoration: underline;
}

.cc-cookies a:hover {
	text-decoration: none;
}

.cc-overlay {
	height: 100%;
	padding-top: 25%;
}

.cc-cookies-error {
	float: left;
	width: 90%;
	text-align: center;
	margin: 1em 0 2em 0;
	background: #fff;
	padding: 2em 5%;
	border: 1px solid #ccc;
	font-size: 18px;
	color: #333;
}

.oldie .cc-cookies {
	background: #565656;
}

.cc-cookies a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset {
	display: inline-block;
	color: #fff;
	font-size: 13px;
	font-weight: normal;
	text-decoration: none;
	background: #7DAF3B;
	padding: 5px 15px;
	margin: 0 7px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
	-o-transition: background 0.5s ease-in;
	-webkit-transition: background 0.25s ease-in;
	-moz-transition: background 0.25s ease-in;
}

.cc-cookies a.cc-cookie-decline, .cc-cookies-error a.cc-cookie-decline {
	background: #af3b3b;
	margin-left: 0.5em;
}

.cc-cookies a.cc-cookie-reset {
	background: #f15b00;
}

.cc-cookies a:hover.cc-cookie-accept, .cc-cookies-error a:hover.cc-cookie-accept, .cc-cookies a:hover.cc-cookie-decline, .cc-cookies-error a:hover.cc-cookie-decline, .cc-cookies a:hover.cc-cookie-reset {
	background: #000;
	-o-transition: background 0.5s ease-in;
	-webkit-transition: background 0.25s ease-in;
	-moz-transition: background 0.25s ease-in;
}

.cc-cookies-error a.cc-cookie-accept, .cc-cookies-error a.cc-cookie-decline {
	display: block;
	margin-top: 1em;
}
 @media screen and (max-width: 768px) {
.cc-cookies a.cc-cookie-accept, .cc-cookies a.cc-cookie-decline, .cc-cookies a.cc-cookie-reset {
display: block;
margin: 1em 0;
}
}
 @media screen and (max-width: 480px) {
.cc-cookies {
position: relative;
}
}