/* ================================================
 
Theme Name: Riot Hairdressing
Description:  Riot Hairdressing
Author: Atelier Studios
Author URI: http://www.atelier-studios.com/
Date: September 2010

==================================================*/


/*------------------------------------------------

		1. Global Resets
		
		2. Typography

		3. Link

		4. Main Navigation 

		5. Structure
		
		6. Inner Elements
			
		7. Lists 
		
		8. Form Elements 
		
		9. Various Tags & Classes 
						
		10. Headers
		
 		11. Buttons


/*==================================================================================================

	1. GLOBAL RESETS
 
 ====================================================================================================*/


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	font-weight:inherit;
	font-style:inherit;
	font-size:100%;
	font-family:inherit;
	vertical-align:baseline;
	}
	
body { 
	line-height:1.5;
	}
	
html, body {
	height: 100%;
	}	

table { 
	border-collapse:separate; border-spacing:0; 
	}

caption, th, td { 
	text-align:left;font-weight:normal; 
	}

table, td, th { 
	vertical-align:middle; 
	}

blockquote:before, blockquote:after, q:before, q:after { 
	content:""; 
	}

blockquote, q { 
	quotes:"" ""; 
	}

a img { 
	border:none; 
	}


/* Reset all margins/padding */

* { 
	margin:0;
	padding:0;
	}

/* Gets rid of outlined links in Firefox */

a {
	outline: none;
	}


/* No boders on images and displays them as block level elements in IE6 */

img {
	border:0;
	padding: 0;
	margin: 0;
	display: block;
	}
	
br {
	clear:both;
	line-height:10px;
	}


/* IE PNG Fix http://www.twinhelix.com/css/iepngfix/ */
		
a img.rightarrowclass {
	behavior: url(/wp-content/themes/radcliffe/furniture/js/iepngfix.htc)
}
/* Alternatively, you can specify that this will apply to all tags like so:
		   
		   * { behavior: url(/furniture/js/iepngfix.htc) }
*/


/*==================================================================================================

	2. TYPOGRAPHY
 
 ====================================================================================================*/
 
body {
	font-size: 12px;
	line-height: 17px;
	text-align: left;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	color: #5f5f5f;
	margin:0;
	padding:0;
	height: 100%;
	}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td  {
	font-family: Arial, Helvetica, Verdana, sans-serif;
	text-align: left;
	}

div#content p {
	margin: 0 0 15px 0;
	}
	
/*----------FONT RESET -------------*/
	
	/* {
	margin: 0;
	padding: 0;
	line-height: 12px;
	font-size: 12px;	
	}*/
	
/* --------------------------------*/
	
	div#footer p {
	font-size: 11px;
	line-height: 14px;
	padding: 0 0 10px 0;
	margin: 0;
	color: #70a1cc;
	}
	
	div#content p.centre {
	margin: 0;
	text-align: center;
	}
	
	div#footer p.button_footer_contact {
	width: 120px;
	height: 30px;
	float: left;
	margin: -25px 0 0 0;
	padding: 0;
	font-size: 11px;
	line-height: 13px;
	}
	
	div#footer div.column_right p {
	float: left;
	clear: both;
	width: 280px;
	/*background: url(/wp-content/themes/radcliffe/furniture/images/sitewide/logo_footer.jpg) no-repeat 0 0;*/
	font-size: 11px;
	line-height: 14px;
	padding: 0 0 10px 0;
	margin: 0;
	}
	
	p.align_right {
	text-align: right;
	}	
	
strong {
	font-weight:bold;
	}
	
em {
	font-style:italic;
	display:inline;
	}

hr {
	border: 0;
	color: #cfd0d4;
	background-color: #cfd0d4;
	margin-bottom:10px;
	margin-top:5px;
	height: 1px;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 0;
	padding: 0;
	font-weight: normal;
	}

div#content h1 {
	padding: 0 0 15px 0;
	font-size: 36px;
	color: #333333;
	line-height: 38px;
	}

div#content h2 {
	padding: 0 0 15px 0;
	font-size: 40px;
	color: #00163d;
	line-height: 46px;
	}

div#content h3 {
	font-size: 28px;
	line-height: 32px;
	padding: 0 0 10px 0;
	color: #00163d;
	}

div#content h4 {
	font-size: 22px;
	line-height: 26px;
	padding: 5px 0 10px 0;
	font-weight: bold;
	color: #00163d;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	}
	
div#content h5 {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	padding: 0 0 15px 0;
	color: #0064a3;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	}

div#content h6 {
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
	padding: 0 0 5px 0;
	color: #3a474e;
	font-family: Arial, Helvetica, Verdana, sans-serif;
	}

	
/*==================================================================================================
 
     3. LINK STYLES

================================================================================================== */

div#footer a {
	color: #70a1cc;
	text-decoration: none;
	}

	div#footer a:hover {
	color: #70a1cc;
	text-decoration: underline;
	}
	
div#content a {
	color: #00163d;
	text-decoration: underline;
	}

	div#content a:hover {
	color: #70a1cc;
	text-decoration: none;
	}


/* End Typography & Colors */

		
/*==================================================================================================

	4. MAIN NAVIGATION
	
==================================================================================================*/


div.jqueryslidemenu {
	float: left;
	clear: both;
	width: 960px;
	height: 43px;
	margin: 0;
	padding:0;
	position: relative;
	z-index: 50;
	/*background: #FF0000;*/
	}		
		
div.jqueryslidemenu ul#navigation {
	float: left;
	width: 960px;
	height: 43px;
	margin: 0;
	padding:0;
	/*background: #FF0000;*/
	list-style: none;
	position: relative;
	z-index: 60;
	}	

	div.jqueryslidemenu ul#navigation li {
	position: relative;
	display: inline;
	float: left;
	z-index: 150;
	padding: 0;
	margin:0;
	}
	
/*----------------GENERIC STYLES FOR ALL TOP BUTTONS -----------------------*/	
	
	div.jqueryslidemenu ul#navigation li a#nav_home, div.jqueryslidemenu ul#navigation li a#nav_corp_services, div.jqueryslidemenu ul#navigation li a#nav_personal_services, div.jqueryslidemenu ul#navigation li a#nav_testimonials, div.jqueryslidemenu ul#navigation li a#nav_news_events {
	margin: 0;
	padding: 0;
	float: left;
	height: 43px;
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;	
	}
	
/*----------------GENERIC STYLES FOR ALL TOP BUTTONS -----------------------*/	
	

	div.jqueryslidemenu ul#navigation li a#nav_home {
	background: url(/wp-content/themes/radcliffe/furniture/images/navigation/navigation.gif) no-repeat -2px 0;
	width: 101px;
	}
		
		div.jqueryslidemenu ul#navigation li a#nav_home:hover {
		background: url(/wp-content/themes/radcliffe/furniture/images/navigation/navigation.gif) no-repeat -2px -100px;
		}
		
		body.page-id-2 div.jqueryslidemenu ul#navigation li a#nav_home.current {
		background: url(/wp-content/themes/radcliffe/furniture/images/navigation/navigation.gif) no-repeat -2px -200px;
		}
				
/* End Main Navigation */




/*=================================================
	
	STYLES FOR JQUERY DROP DOWN MENU
	
=================================================*/


/*Top level menu link items style*/

div.jqueryslidemenu ul#navigation li a {
	display: block;
	background: #79a6cf; /*background of tabs (default state)*/
	color: #FFFFFF;
	border-top-width: 0px;
	text-decoration: none;
	font-size: 11px;
	line-height: 17px;
	text-align: left;
	}

* html div.jqueryslidemenu ul#navigation li a { /*IE6 hack to get sub menu links to behave correctly*/
	display: inline-block;
	border-top-width: 0px;
	font-size: 11px;
	line-height: 17px;
	text-align: left;
	}

	
/*1st sub level menu*/
div.jqueryslidemenu ul#navigation li ul { 
	position: absolute;
	left: 0;
	display: block;
	visibility: hidden;
	z-index: 200;
	padding: 0 0 0 5px;
	margin: 0;
	list-style: none;
	font-size: 11px;
	line-height: 11px;
	width: 93%;
	}


/*Sub level menu list items (undo style from Top level List Items)*/
div.jqueryslidemenu ul#navigation li ul li {
	display: list-item;
	float: none;
	padding: 0;
	margin: 0;
	width: 100%;
	}

/*All subsequent sub menu levels vertical offset after 1st level sub menu */
div.jqueryslidemenu ul#navigation li ul li ul {
	top: 0;
	padding: 0;
	margin: 0 0 0 5px;
	width: 100%;
	}

/* Sub level menu links style */
	div.jqueryslidemenu ul#navigation li ul li a {
	font-size: 12px;
	line-height: 17px;
	text-align: left;
	padding: 10px;
	margin: 0;
	width: auto;
	border-top-width: 0px;
	border-left: 1px solid #cddeee;
	border-bottom: 1px solid #8eb4d8;
	}

	div.jqueryslidemenu ul#navigation li ul li a:hover { /*sub menus hover style*/
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/bg_drop_down.gif) repeat-x 0 bottom #6e9fca;
	color: #00153e;
	}

/* ######### CSS classes applied to down and right arrow images  ######### */

a img.downarrowclass{
	display: none;
	position: absolute;
	top: 12px;
	right: 7px;
	}

a img.rightarrowclass {
	position: absolute;
	top: 12px;
	right: 10px;
	}

/* ----------------- End Drop Down Nav -------------------- */
		
		
/*==================================================================================================


	SIDEBAR NAVIGATION
	
 
==================================================================================================*/
		



/*==================================================================================================


	5. MAIN STRUCTURE
 
==================================================================================================*/

body {
	margin:0;
	padding:0;
	height: auto;
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/bg_top.jpg) repeat-x 0 0 #eaf1f7;
	}
	
div#page_bg {
	float: left;
	width: 100%;
	height: auto;
	clear: both;
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/bg_nav_bottom.jpg) no-repeat center 199px;
	background: #FFFF33;
	}	

div#page_centre {
	margin: 0 auto;
	width: 960px;
	height: auto;
	background: #99FF00;
	}
	
div#page {
	width: 960px;
	float: left;
	height: auto;
	background-color: #FFCC33;
	position: relative;
	z-index: 1;
	}

div#header {
	width: 960px;
	height: 156px;
	float:left;
	position: relative;
	z-index: 5;
	background-color: #FFCC33;
	}
	
div#content_container {
	float: left;
	clear: both;
	width: 960px;
	padding: 40px 0 20px 0;
	background: #FFFFFF;
	}


	div#content {
	float: left;
	width: 690px;
	background-color: #FF00FF;
	}

	div.post {
	padding: 0;
	margin: 0;
	width: 100%;
	float: left;
	}
	
	div.entry {
	padding: 0;
	margin: 0;
	float: left;
	background-color: #993399;
	}
	
	
/*=============== ALTERNATIVE POST STYLES ================*/

	div#post_articles {
	border-top:1px solid #CCCCCC;
	float:left;
	margin:0;
	padding:20px 0 5px;
	width:100%;
	}
	
	div.post_entry {
	float:left;
	margin:0;
	padding:0;
	width:585px;
	}
	
/*=============== ALTERNATIVE POST STYLES END ================*/
	
	
div#sidebar {
	width: 230px;
	float:left;
	padding: 0 40px 0 0;
	background: #99CC33;
	}

div#footer {
	float: left;
	clear: both;
	width: 960px;
	height: 230px;
	padding: 15px 0 0 0;
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/bg_footer.gif) repeat-x 0 0;
	background-color: #9966CC;
	}
	
/*======================== FOOTER COLUMNS =======================*/

div#footer div.column_left {
	float: left;
	width: 280px;
	background: #0033CC;
	}
	
div#footer div.column_middle {
	float: left;
	width: 400px;
	background: #FF0000;
	}
	
div#footer div.column_right {
	float: left;
	width: 280px;
	height: 90px;
	position: relative;
	z-index: 30;
	padding: 60px 0 0 0;
	background: #66CCCC;
	}	
	
div#footer div.bottom_row {
	float: left;
	clear: both;
	width: 960px;
	padding: 20px 0 0 0;
	margin: 20px 0 0 0;
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/bg_footer.gif) repeat-x 0 0;
	background: #99FF00;
	}	
	
	

/* End Structure */



/*=================================================
	
	6. INNER ELEMEMTS

=================================================*/



/*========================== NEWS DATE STAMP ===============================*/
	

	div#content div.news_date {
	float: left;
	width: 105px;
	height: 60px;
	background: url(/wp-content/themes/radcliffe/furniture/images/backgrounds/news_date.gif) no-repeat 0 0;
	}


	div#content p.news_month {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 4px 35px 0 0;
	margin: 0;
	}
	
	div#content p.news_day {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 24px;
	line-height: 26px;
	color: #FFFFFF;
	font-weight: bold;
	text-align: center;
	padding: 4px 35px 0 0;
	margin: 0;
	}


/*========================== NEWS DATE STAMP ENDS ===============================*/


	
/*==================================================================================================
	
	7. LISTS 

==================================================================================================*/


div#content ul {
	margin: 0;
	padding: 5px 0 10px 20px;
	list-style-type: none;
	}
	
	div#content ul li {
	clear: both;
	margin: 0;
	padding: 0 0 10px 10px;
	list-style: disc;
	}
	
div#content ul.homepage_list {
	float: left;
	margin: 0;
	padding: 5px 0 10px 160px;
	list-style-type: none;
	}
	
	div#content ul.homepage_list li {
	clear: both;
	margin: 0;
	color: #020f32;
	padding: 0 0 6px 15px;
	list-style-type: none;
	background: url(/wp-content/themes/radcliffe/furniture/images/sitewide/bullet.jpg) no-repeat 0 4px;
	}
	
	
div#content ol {
	margin: 0;
	padding: 5px 0 10px 25px;
	}
	
	div#content ol li {
	clear: both;
	margin: 0;
	padding: 0 0 10px 5px;
	}	

div#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}
	
	div#sidebar ul li {
	margin: 0;

	padding: 0;
	list-style-type: none;
	}

	
/*========================== SITEMAP LIST ======================*/
	
	
div#content div.ddsg-wrapper ul {
	margin: 0;
	padding: 5px 0 10px 10px;
	list-style-type: none;
	}
	
	div#content div.ddsg-wrapper ul li {
	clear: both;
	margin: 0;
	padding: 0 0 10px 20px;
	list-style: none;
	background: url(/wp-content/themes/butlerross/furniture/images/sitewide/bullet_arrow_white.gif) no-repeat 0 6px;
	}


/*==================================================================================================

	8. FORMS
 
 ====================================================================================================*/
 
/*============ FORM STYLE RESETS ================*/


form, input, textarea, label, select, fieldset  {	
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
	color:#666666;
	float: left;
	}
	
input {
	padding: 2px;
	border: none;
	}


/*============ LABEL STYLES ================*/

label {
	clear: both;
	font-size:12px;
	color: #333333;
	width: 80px;
	text-align: right;
	padding: 0 15px 0 0;
	}
	
	div#content div.three_column_right div.ddfmwrap form.ddfm label {
	display:block;
	float:left;
	clear:left;
	font-size:12px;
	color: #666666;
	width: 65px;
	text-align: right;
	padding: 0 15px 0 0;
	margin: 0 0 15px 0;
	text-align:right;
	}
		
	div.search_bar form#searchform label {
	display: none;
	}
	

/*============ SELECT STYLES ================*/
	
form.ddfm select {
	font-size:12px;
	}		
	
	form.ddfm select.fmselect {
	width: 160px;
	margin: 0 0 9px 0;
	padding: 6px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	
	form.ddfm select.fmselect_date {
	width: 80px;
	height: 27px;
	margin: 0 0 9px 0;
	padding: 3px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	form.ddfm select.form_select {
	width: 234px;
	height: 27px;
	margin: 0 0 9px 0;
	padding: 3px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	

/*============ FIELDSET STYLES ================*/

	
fieldset {
	clear: both;
	font-size:12px;
	border: none;
	}		

/*============ TEXT FIELD STYLES ================*/


div#header div#internal_features div.search_feature input#search_textfield {
	float: left;
	width: 183px;
	height: 23px;
	padding: 7px 10px 0 10px;
	margin: 0;
	border: 2px solid #FFFFFF;
	background: #e7eff6;
	font-size: 12px;
	color: #0467a5;
	}
	
	form.ddfm input.form_textfield {
	width: 220px;
	float: left;
	height: 20px;
	margin: 0;
	padding: 4px 6px 0 6px ;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	
	form.ddfm input.newsletter_textfield {
	width: 200px;
	float: left;
	clear: both;
	height: 20px;
	color: #70a1cc;
	margin: 0 5px 10px 0;
	padding: 5px 6px 0 6px ;
	border: 2px solid #c7daeb;
	background-color: #dae6f1;
	}
	
	form.ddfm input.form_textfield_short {
	width: 120px;
	float: left;
	height: 20px;
	margin: 0;
	padding: 4px 6px 0 6px ;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	
	
	form.ddfm input.fmverify {
	width: 100px;
	margin: 0 0 9px 0;
	padding: 6px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	
	

/*============ TEXT AREA STYLES ================*/

form.ddfm textarea {
	padding: 2px;
	margin: 2px 0 0 0;
	width: 220px;
	height: 100px;
	}

	form.ddfm textarea.form_textfield {
	width: 220px;
	margin: 0 0 9px 0;
	padding: 6px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}
	
	form.ddfm textarea.form_textfield_short {
	width: 185px;
	margin: 0 0 9px 0;
	padding: 6px;
	border: 1px solid #999999;
	background-color: #ffffec;
	}	

	textarea.fmtextarea {
	border: 1px solid #999999;
	background-color: #ffffec;
	}

/*============ INPUT BUTTON STYLES ================*/


form.ddfm div.submit {
	padding: 0 0 0 142px;
	}
	
div#footer div.column_left form.ddfm div.newsletter_submit {
	float: left;
	width: 215px;
	}	

	div#footer div.column_left form.ddfm div.newsletter_submit input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #0467a5;
	background: #aac7e1;
	border: 2px solid #e1ebf3;
	width: 85px;
	height: 35px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	float: right;
	}
	
	form.ddfm div.submit input {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	color: #0467a5;
	background: #aac7e1;
	border: 2px solid #e1ebf3;
	font-size: 14px;
	font-weight: bold;
	color: #0467a5;
	width: 120px;
	height: 30px;
	padding: 0px 1px 3px 1px;
	}
	
	div#header div.search_feature form#searchform input#searchsubmit {
	float: left;
	margin: 0 0 0 7px;
	padding: 0;
	border: none;
	cursor: pointer;	
	}
	
		
/*============ VERIFY IMAGE STYLES ================*/

div#content.narrowcolumn form.ddfm p.fieldwrap img {
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	margin:0 0 0 20px;
	padding:0;
	}




/*==================================================================================================

   DAGON DESIGN FORM MAILER STYLES 

   http://www.dagondesign.com

==================================================================================================*/


form.ddfm .required, div.ddfmerrors {
	color: #FF0000;
	}


/* STRUCTURE CSS */


div#footer div.column_left form.ddfm  {
	float: left;
	width: 275px;
	padding: 0;
	margin: 0;
	}

	div#footer div.column_left div.ddfmwrap {
	float: left;
	width: 270px;
	margin: 0;
	padding: 0;
	}
	
	div#footer div.column_left div.ddfmwrap div.ddfmerrors {
	float: left;
	width: 60px;
	display:block;
	margin: 0;
	padding: 0 0 15px 0;
	text-align: left;
	}
	
	div#footer div.column_left div.ddfmwrap div.errorlist {
	float: left;
	width: 175px;
	display:block;
	margin: 0;
	padding: 0 0 15px 0;
	text-align: left;
	display:block;
	}
	
div#content div.ddfmwrap {
	float: left;
	width: 450px;
	padding: 0;
	margin: 0;
	}
	
	div#content div.ddfmwrap form.ddfm {
	text-align: left;
	padding: 0;
	margin: 0;
	float: left;	
	}
	
.ddfmwrap p.fieldwrap {
	padding: 1px;
	margin: 1px;
	clear: left;
}

form.ddfm fieldset {
	padding: 0 10px 2px 10px;
	margin: 0 0 13px 0;
	display: block;
}

form.ddfm legend {
	padding: 0 6px 0 6px;
	margin: 0 0 0 10px;	 
}

form.ddfm label {
	display: block; 
	float: left; 
	width: 26%; 
	text-align: right;
	margin: 0 10px 0 0; 
	padding-bottom: 15px;
	clear: left;  
	}

form.ddfm label.fmtextlblwide {
	display: block;  
	float: left; 
	text-align: left;
	margin: 0 10px 0 1px; 
	padding-bottom: 8px; 
	width: 100%;
	border: 1px solid #999999;
}

form.ddfm select.fmselect {
	float: left; 
	display: block;
	margin-bottom: 15px;  
	padding: 3px;
	width:50%;
}

form.ddfm .fmcheck {
	width: 65%; 
	float: left;
	display: block;  
	margin-bottom: 15px;
}

form.ddfm .fmradio {
	width: 65%;
	float: left;
	display: block;
	margin-bottom: 15px;
}

form.ddfm .fmcheck p {
	padding: 0;
	margin: 0 0 5px 0;
	line-height: 140%;
}

form.ddfm .fmradio p {
	padding: 0;
	margin: 0 0 5px 0;
	line-height: 140%;
}


form.ddfm .fmfullblock {
	padding-left: 0px;
	float: left; 
	width: 100%;
	margin-bottom: 13px;
	display: block;
}

form.ddfm .fmhalfblock {
	width: 65%;
	padding-left: 29%;
	margin-bottom: 13px;
	float: left; 
	display: block;
}

form.ddfm input.fmverify {
	float: left; 
	width: 22%;
	margin-bottom: 15px; 
	padding: 3px;
	position: relative;
	display: block;
}

form.ddfm img {
	margin: 1px 0 0 10px; 
    float: left;
}

form.ddfm input.fmfile,
form.ddfm input.fmtext {
	float: left; 
	display: block;
	width: 65%;
	margin-bottom: 15px;  
	padding: 3px;
}

form.ddfm input.fmdate {
	float: left; 
	display: block;
	width: 35%;
	margin-bottom: 15px;  
	padding: 3px;
}

form.ddfm textarea.fmtextwide {
	display: block;
	float: left;
	width: 93%;
	margin-right: 2px;
	margin-bottom: 15px; 
	padding: 3px;
	border: 1px solid #999999;
	background-color: #ffffec;
}

form.ddfm .credits {
	text-align: right;
	margin-top: 7px;
	width: 97%;
}

.ddfmwrap .ddfmerrors {
	display: block; 
	float: left; 
	width: 27%; 
	text-align: right;
	margin: 0 10px 0 0; 
	padding-bottom: 15px;
}

.ddfmwrap .errorlist {
	float: left; 
	display: block;
	font-weight: bold;
	color: #CC0000;
	width: 65%;
	padding: 0;
	text-align: left;
	
	}

.ddfmwrap .recaptcha {
	width: 100%;
	text-align: right;
	clear: both; 
	height: 120px;
	margin-right: 7px;
	padding-bottom: 10px;
}

.ddfmwrap .recaptcha-inner {
	float: right;
	margin-right: 3px;
}



/*==================================================================================================
	
	9. Various Tags & Classes 
	
==================================================================================================*/


acronym, abbr, span.caps {
	cursor: help;
	}

acronym, abbr {
	border-bottom: 1px dashed #999;
	}

blockquote {
	margin: 15px 30px 0 10px;
	padding-left: 20px;
	border-left: 5px solid #ddd;
	}

blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

.center {
	text-align: center;
	}

div.navigation {
	float: left;
	clear: both;
	padding: 15px 0 10px 0;
	width:100%;
	}
	
	div.navigation div.alignright {
	float: right;
	text-align: right;
	width: 300px;
	}
	
	div.navigation div.alignleft {
	float: left;
	text-align: left;
	width: 300px;
	}
	
.alignright {
	float:right;
	}
	
.alignleft {
	float:left;
	}

div#content img {
	border:0;
	padding: 0;
	margin:0 0 15px 20px;
	display: block;
	float: right;
	}
	
	div#content img.no_float {
	border:0;
	padding: 0;
	margin:0 0 15px 0;
	display: block;
	float: none;
	}
	
	div#content img.float_left {
	border:0;
	padding: 0;
	margin:0 15px 15px 0;
	display: block;
	float: none;
	}
	
		
div#sidebar h2.news_title_hide {
	display: none;
	}
		
/*  Gets Rid Of Credits at the end of Dagon Design Plugins*/

body.page-id-19 div#content.narrowcolumn div.entry div.ddsg-wrapper div {
	display: none;
	}

div.ddfmwrap div.credits {
	display: none;
	}

body.page-id-19 div.ddsg-wrapper h2 {
	display: none;
	}

div#content table.basic {
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
	}
	
	div#content table.basic th {
	padding: 10px;
	margin: 0;
	font-weight: bold;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	}
	
	div#content table.basic td {
	padding: 10px;
	margin: 0;
	border-top: 1px solid #999999;
	border-right: 1px solid #999999;
	}
	


/* End Various Tags & Classes*/



/*==================================================================================================
	
	10. Headers
	
==================================================================================================*/


div#header h2 {
	padding:0;
	margin:0;
	float:left;
	line-height: 1px;
	font-size: 1px;
	}
	
div#header h2 {
	width: 281px;
	height: 150px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
	}

		
/*==================================================================================================
	
	11. BUTTONS
	
==================================================================================================*/


div#header h2 a {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	border: none;
	}
	
div#header h2 a {
	background: url(/wp-content/themes/radcliffe/furniture/images/sitewide/logo.jpg) no-repeat left bottom;
	width: 281px;
	height: 150px;
	}