@media only screen and (min-width: 305px) and (max-width: 700px) {
@import 'mobile_layout';
@import 'mobile_general';
@import 'slidenav';
}


@media only screen and (min-width: 700px ) and (max-width: 978px) {
@import 'tablet_general';
@import 'tablet_layout';
@import 'slidenav';
}

@media only screen and (min-width:980px) {
@import 'desktop';
}

@media only screen and (min-width:978px) and (max-width:1100px) {
@import 'desktop_small';
@import 'desktop_medium';
}


@media only screen and (min-width:1100px) and (max-width:1430px) {
@import 'desktop_medium';
}

@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
@import 'print';
}
