
/*==================================================================================================

  9. CSS3 BUTTONS - Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com

==================================================================================================*/


.button, .wpcf7-submit {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 1;
    position: relative;
    cursor: pointer;
    border: none;
    border-radius: 40px;
    }
    
    /* Don't use native buttons on iOS */
    input[type=submit].button { -webkit-appearance: none; }
    

    .button.full-width {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
    }
    
    /* Sizes ---------- */
    .small.button           { font-size: 11px; padding: 8px 20px 10px; width: auto; }
    .medium.button,
    .wpcf7-submit           { font-size: 17px; padding: 17px 35px; width: auto; }
    .large.button           { font-size: 22px; padding: 18px 45px; width: auto; }


    /* RED ---------- */
    .red_but.button         { background-color: $red; color: $white; }
    .red_but.button:hover, 
    .red_but.button:focus   { background-color: $dark_red; color: $white; text-decoration: none; }


    /* GREEN ---------- */
    .green_but.button          { background-color: #76C925; color: $white; }
    .green_but.button:hover, 
    .green_but.button:focus    { background-color: #76C925; color: $white; text-decoration: none; }



/*==================================================================================================

  14. IMAGE REPLACEMENT BUTTONS

==================================================================================================*/

/*------------- IMAGE REPLACEMENT BUTTON RESETS - ADD ALL BUTTON CLASSES HERE -----------------*/

  a.next, a.previous, p.social_icons a {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  cursor: pointer;
  border: none;
  }

/*------------- BUTTON RESETS ENDS -----------------*/

  a.next {
  background:url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png) no-repeat -438px 0;
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 150px;
  right: -20px;
  z-index: 8888;
  }

  a.previous {
  background:url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png) no-repeat -393px 0;
  width: 27px;
  height: 27px;
  position: absolute;
  bottom: 150px;
  left: -20px;
  z-index: 9999;
  }

p.social_icons {
  position: relative;
  float: right;
  clear: both;
  width: 200px;
  }

  p.social_icons a {
  background-image: url(/wp-content/themes/atelier_base_2015/furniture/images/sitewide/sitewide_sprite.png);
  width: 16px;
  height: 16px;
  float: right;
  margin: 0 0 0 5px;
  }

  a.linkedin_icon {
  background-position: -316px 0;
  }

  a.facebook_icon {
  background-position: -338px 0;
  }

  a.twitter_icon {
  background-position: -360px 0;
  }

  a.rss_icon {
  background-position: -293px 0;
  }
