/*==================================================================================================
	
	20. DESKTOP BREAK POINTS
	
==================================================================================================*/

    /*------------ HIDE -----------*/

    .hide-on-phones {  }

    .hide-on-tablets {  }

    .hide-on-desktops { display: none !important; }

    /*------------ SHOW -----------*/

    .show-on-phones { display: none !important; }

    .show-on-tablets { display: none !important; }

    .show-on-desktops { display: block !important; }
