

/*==================================================================================================

  15. FORMS

 ====================================================================================================*/

form.page_form { float: none; }

/*============ LABEL STYLES ================*/

label {
  float: left;
  clear: both;
  text-align: right;
  padding: 8px 15px 0 0;
  }

  label.short_label {	width: 55px; }

  label.medium_label { width: 60px; }

  label.long_label { width: 220px; }

  label.check_box_label {
  float: none;
  padding: 2px 0 0 10px;
  margin: 0;
  }

  label.small_text_checkbox {
  font-weight: normal;
  font-size: 11px;
  }

/*============ SELECT STYLES ================*/

select {
  padding: 3px;
  height: 25px;
  margin: 0 0 8px 0;
  border: 1px solid #c5c3c4;
  background-color: #FFFFFF;
  }

  select.short_select { width: 80px; margin: 0 15px 8px 0; }

  select.medium_select { width: 178px; }

  select.long_select { width: 227px; }

/*============ FIELDSET STYLES ================*/

fieldset {
  clear: both;
  border: none;
  }

/*============ TEXT FIELD STYLES ================*/

input {
  color: #212121;
  }

  input.short_text_field,
  input.medium_text_field,
  input.long_text_field { float: left; padding: 9px 8px 9px 8px; border: 1px solid #c5c3c4; }

  input.short_text_field:focus,
  input.medium_text_field:focus,
  input.long_text_field:focus { background: #f8f8f8; }

  input.short_text_field { width: 100px; }

  input.medium_text_field { width: 200px; }

  input.long_text_field { width: 300px; }

/*============ TEXT AREA STYLES ================*/

textarea {
  height: 117px;
  margin: 0 0 8px 0;
  padding: 9px 8px 9px 8px;
  border: 1px solid #c5c3c4;
  float: left;
  }

  textarea:focus { background: #f8f8f8; }

  textarea.medium_text_area { width: 200px; }

/*============ CHECK BOXES ================*/

span.checkbox_container {
  float: left;
  clear: both;
  }

  span.checkbox_long { padding: 0 0 8px 265px; }

  span.checkbox_medium { padding: 0 0 8px 235px; }

  span.checkbox_short { padding: 0 0 8px 95px; }

  input.checkbox { padding: 5px 10px 0 0; }


/*============ INPUT BUTTON STYLES ================*/


input.wpcf7-submit {
  display: block;
  font-weight: bold;
  font-size: 12px;
  line-height: 13px;
  color: #FFFFFF;
  padding: 8px 15px;
  margin: 10px 0 0 135px;
  border: 0;
  cursor: pointer;
  float: left;
  clear: both;
   background-color: #000;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  }

/*============ CONTACT FORM 7 STYLES ================*/

div.wpcf7, form.wpcf7-form {
  width: 100%;
  float: left;
  padding: 20px 0 0 0;
  }

div.wpcf7-display-none {
  display: none;
  }

div.wpcf7-response-output {
    padding: 10%;
  float: left;
  clear: both;
  width: 80%;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  position: relative;
  bottom: 3px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  }

  div.wpcf7-validation-errors {
  color:#CC0000;
  border: 2px solid #f3a653;
  background: #FFFF99;
  }

    span.wpcf7-form-control-wrap {
    position: relative;
    float: left;
    }

    span.wpcf7-not-valid-tip {
     background: none repeat scroll 0 0 #FFFF99;
    border: 2px solid #F3A653;
    color: #CC0000;
    left: 2px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 3px;
    width: 200px;
    z-index: 100;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    }

  div.wpcf7-mail-sent-ok {
  color: #339933;
  border: 2px solid #82B827;
  background: #bbe57f;
  }

span.wpcf7-form-control-wrap { float: left;	margin: 0; padding: 0;	}

div.wpcf7 br { clear: none;	}

div.wpcf7 p { width: 100%; float: left; clear: both; }

div.wpcf7 img.ajax-loader {
    border: none;
    vertical-align: middle;
  position: absolute;
  bottom: 23px;
  left: 206px;
  z-index: 50;
  }
