
/*---------- HEIGHTS ---------**/

.height_25 { height: 25px; }
.height_40 { height: 40px; }
.height_70 { height: 70px; }
.height_60 { height: 60px; }
.height_80 { height: 80px; }
.height_100 { height: 100px; }
.height_120{height:120px;}
.height_123{height:123px;}
.height_130{height:130px;}
.height_140{height:140px;}
.height_143{height:143px;}
.height_150{height:150px;}
.height_160{height:160px;}
.height_170{height:170px;}
.height_180{height:180px;}
.height_190{height:190px;}
.height_200{height:200px;}
.height_220{height:220px;}
.height_240{height:240px;}
.height_270{height:270px;}
.height_295{height:295px;}
.height_300{height:300px;}
.height_320{height:320px;}
.height_340{height:340px;}
.height_360{height:360px;}
.height_380{height:380px;}
.height_400{height:400px;}
.height_430{height:430px;}
.height_450{height:450px;}
.height_480{height:480px;}
.height_538{height:538px;}
.height_600{height:600px;}
.height_675{height:675px;}
.min_height_300{min-height:300px;}
.min_height_400{min-height:400px;}
.min_height_550{min-height:550px;}

.height_75_percent { height: 75%; }
.height_100_percent { height: 100%; }
