
/*==================================================================================================

     IE STYLES
	 
================================================================================================== */	
	

.ie7 img {
-ms-interpolation-mode:bicubic;
}

#ie8 a.logo {
	background: url("/wp-content/themes/atelier_base_2015/furniture/images/sitewide/logo_ie.png") no-repeat 0 0;
	}

.old_browser_warning,
.old_browser_warning.hide {
   display: none;
    }

#ie7 .old_browser_warning,
#ie8 .old_browser_warning {
    background: #EB424D;
    color: #fff;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 9999;
    width: 100%;
    display: block;
    height: 340px;    
    }
    
#ie7 .cookie_notification,
#ie8 .cookie_notification {
    background: #000;
}

#ie8 a.logo {
    background: url("/wp-content/themes/atelier_base_2015/furniture/images/sitewide/logo.png") no-repeat 0 0;
    }

#ie8 a.telephone {
        background: url("/wp-content/themes/atelier_base_2015/furniture/images/icons/telephone.png") no-repeat 21px 17px;
        }
