
/*==================================================================================================

	14. IMAGE REPLACEMENT BUTTONS
	
==================================================================================================*/

$imgPath : "/wp-content/themes/atelier_base_2015/furniture/images/";


/*------------- IMAGE REPLACEMENT BUTTON RESETS - ADD ALL BUTTON CLASSES HERE -----------------*/

	a.logo {
	display: block;
	overflow: hidden;
	text-indent: -9999px;
	cursor: pointer;
	border: none;
	}
	
/*------------- BUTTON RESETS ENDS -----------------*/

	a.logo {
	background: url("/wp-content/themes/atelier_base_2015/furniture/images/sitewide/logo.svg") no-repeat scroll 0 0;
    height: 55px;
    width: 198px;
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 4000;
	@include background-size(contain);
	}


a.print {
		background: url("/wp-content/themes/atelier_base_2015/furniture/images/sitewide/printer_icon.png") no-repeat left 5px;
	    display: inline-block;
	    padding: 5px 0 10px 32px;
		}

