
/*==================================================================================================

    5. THE FOUNDATION GRID - Copied from Foundation - Nov 2012 - v3.2 http://foundation.zurb.com

==================================================================================================*/


/* ----- ADD BY ATELIER------ ADDED STYLES TO BE ABLE TO FLOAT SIDEBAR LEFT AND CONTENT RIGHT */

    .columns.no_margin { margin-left: 0; }
    .columns.margin { margin-left: 4.4%; }

/* ----- ADD BY ATELIER ENDS------ */

    .container { width: 100%; max-width: 100%; position: relative; }

    .row { width: 85%; max-width: 1280px; margin: 0 auto; clear: both; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .row > .row, .row .row { width: 100%!important; }
    .row.fixed { width: 980px; max-width: none!important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .row .row { min-width: 0; }
    .column, .columns { margin-left: 4.4%; float: left; min-height: 1px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    .column:first-child, .columns:first-child { margin-left: 0; }

    .related_services .columns { margin-left: 0!important; margin-right: 4.4%!important; }
    .related_services .columns:nth-child(3n) { margin-left: 0!important; margin-right: 0%!important; }



/*  --------------------------------------------------
    Columns
    -------------------------------------------------- */

    .row .one.columns       { width: 4.3%; }
    .row .two.columns       { width: 13%; }
    .row .three.columns     { width: 21.68%; }
    .row .four.columns      { width: 30.37%; }
    .row .five.columns      { width: 39.1%; }
    .row .six.columns       { width: 47.8%; }
    .row .seven.columns     { width: 56.5%; }
    .row .eight.columns     { width: 65.2%; }
    .row .nine.columns      { width: 73.9%; }
    .row .ten.columns       { width: 82.6%; }
    .row .eleven.columns    { width: 91.3%; }
    .row .twelve.columns    { width: 100%; }


/*-----------  Copied from Foundation - Jan 2012 - v2.1.4 http://foundation.zurb.com -----------------*/

/* Hide for both screenreaders and browsers: css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal. www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations.   nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
