
/*==================================================================================================

		3. LINK STYLES

================================================================================================== */

a { color: #22A2EA;	text-decoration: underline;}

	a:hover { color: #000000; text-decoration: underline; }

footer a { color: #999999; text-decoration: none; }

	footer a:hover { color: #eda438; text-decoration: underline; }
