
/*==================================================================================================

	7. LISTS

==================================================================================================*/

div#content ul {
	margin: 0;
	padding: 5px 0 10px 20px;
	list-style-type: disc;
	}

	div#content ul li {
	margin: 0;
	padding: 0 0 7px 0;
	list-style-type: disc;
	}

ul.news_feature li {
	padding: 15px 0 0 0;
	border-top: 1px solid #CCCCCC;
	}

div#sidebar ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: left;
	}

	div#sidebar ul li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

div#content ol {
	padding: 5px 0 10px 22px;
	margin: 0;
	}

	div#content ol li {
	margin: 0;
	padding: 0 0 10px 0;
	}

p.knwbse-title {
	font-size: 16px;
	color: #00B2DF;
}
