
/*---------- MARGINS ---------**/

.margin_none{margin:0!important;}
.margin_top_5{margin-top:5px;}
.margin_top_10{margin-top:10px;}
.margin_top_15{margin-top:15px;}
.margin_top_20{margin-top:20px;}
.margin_top_30{margin-top:30px;}
.margin_top_40{margin-top:40px!important;}
.margin_top_50{margin-top:50px;}
.margin_top_60{margin-top:60px;}
.margin_top_550{margin-top:550px;}
.margin_bottom_5{margin-bottom:5px;}
.margin_bottom_10{margin-bottom:10px;}
.margin_bottom_15{margin-bottom:15px;}
.margin_bottom_20{margin-bottom:20px;}
.margin_bottom_30{margin-bottom:30px;}
.margin_bottom_40{margin-bottom:40px!important;}
.margin_bottom_60{margin-bottom:60px;}
.margin_bottom_80{margin-bottom:80px;}
.margin_bottom_100{margin-bottom:100px!important;}
.margin_left_10{margin-left:10px;}
.margin_left_15{margin-left:15px;}
.margin_left_20{margin-left:20px;}
.margin_left_400{margin-left:400px;}
.margin_right_10{margin-right:10px!important;}
.margin_right_15{margin-right:15px;}
.margin_right_20{margin-right:20px;}
.margin_right_left_200 {margin: 0 200px;}

/*---------- PADDING ---------**/

.padding_none{padding:0!important;}
.padding_bottom_none{padding-bottom:0!important;}
.padding_20{padding:7%;}
.padding_top_2{padding-top:2px;}
.padding_top_5{padding-top:5px;}
.padding_top_10{padding-top:10px;}
.padding_top_15{padding-top:15px;}
.padding_top_20{padding-top:20px;}
.padding_top_25{padding-top:25px;}
.padding_top_30{padding-top:30px;}
.padding_top_40{padding-top:40px;}
.padding_top_50{padding-top:50px;}
.padding_top_60{padding-top:60px;}
.padding_top_80{padding-top:80px;}
.padding_top_100{padding-top:100px;}
.padding_top_120{padding-top:120px;}
.padding_top_130{padding-top:130px;}
.padding_top_160{padding-top:160px;}
.padding_top_400{padding-top:400px;}
.padding_top_450{padding-top:450px;}
.padding_top_600{padding-top:600px;}
.padding_bottom_1{padding-bottom:1px;}
.padding_bottom_5{padding-bottom:5px;}
.padding_bottom_10{padding-bottom:10px;}
.padding_bottom_15{padding-bottom:15px;}
.padding_bottom_20{padding-bottom:20px;}
.padding_bottom_25{padding-bottom:25px;}
.padding_bottom_30{padding-bottom:30px;}
.padding_bottom_40{padding-bottom:40px;}
.padding_bottom_50{padding-bottom:50px;}
.padding_bottom_60{padding-bottom:60px;}
.padding_bottom_80{padding-bottom:80px;}
.padding_bottom_102{padding-bottom:102px;}
.padding_top_5_bottom_5{padding-top:5px;padding-bottom:5px;}
.padding_top_10_bottom_10{padding-top:10px;padding-bottom:10px;}
.padding_top_15_bottom_15{padding-top:15px;padding-bottom:15px;}
.padding_top_20_bottom_20{padding-top:20px;padding-bottom:20px;}
.padding_top_30_bottom_30{padding-top:30px;padding-bottom:30px;}
.padding_top_40_bottom_40{padding-top:40px;padding-bottom:40px;}
.padding_top_60_bottom_60{padding-top:60px;padding-bottom:60px;}
.padding_top_80_bottom_80{padding-top:80px;padding-bottom:80px;}
.padding_top_100_bottom_100{padding-top:100px;padding-bottom:100px;}
.padding_top_130_bottom_130{padding-top:130px;padding-bottom:130px;}
.padding_left_10{padding-left:10px;}
.padding_left_15{padding-left:15px;}
.padding_left_20{padding-left:20px;}
.padding_left_40{padding-left:40px;}
.padding_left_60{padding-left:60px;}
.padding_right_5{padding-right:5px;}
.padding_right_10{padding-right:10px;}
.padding_right_15{padding-right:15px;}
.padding_right_20{padding-right:20px;}
.padding_right_30{padding-right:30px;}
.padding_right_40{padding-right:40px;}
.padding_right_50{padding-right:50px;}
.padding_right_70{padding-right:70px;}
.padding_left_12_right_12{padding-right:12%;padding-left:12%;}
.padding_left_10_right_10{padding-right:10px;padding-left:10px;}
.padding_left_15_right_15{padding-right:15px;padding-left:15px;}
.padding_left_20_right_20{padding-right:20px;padding-left:20px;}
.padding_left_27_right_27{padding-right:27px;padding-left:27px;}
.padding_left_40_right_40{padding-right:40px;padding-left:40px;}
.padding_left_60_right_60{padding-right:60px;padding-left:60px;}
.padding_left_right_13cent{padding-right:13%;padding-left:13%;}
.padding_left_right_25cent{padding-right:25%;padding-left:25%;}
.padding_left_right_30cent{padding-right:30%;padding-left:30%;}




/*---------- Border ---------**/

.border_right_1px{border-right: 1px solid #ccc;}
.border_1px_grey{border:1px solid #cfcece;}
.border_top_1px_grey{border-top:1px solid #dedede;}
.border_top_1px_dark_grey{border-top:1px solid #999;}
.border_left_1px_grey{border-left:1px solid #dedede;}
.border_right_1px_grey{border-right:1px solid #43535a;}
.border_bottom_1px_light_grey{border-bottom:1px solid #dedede;}
.border_top_1px_light_green{border-top:1px solid #B6D14D;}
.border_bottom_1px_light_green{border-bottom:1px solid #B6D14D;}
.border_top_bottom_1px_grey{border-top:1px solid #dedede;border-bottom:1px solid #dedede;}
.border_light_grey_1px{border-right:1px solid #E7E7E7;}
.border_bottom_white_1px{border-bottom:1px solid #fff;}
.border_bottom_dark_grey_1px{border-bottom:1px solid #d2d2d2;}
.border_bottom_light_grey_1px{border-bottom:1px solid #d8d8d8;}
.border_radius{-webkit-border-radius:6px;border-radius:6px;}
.border_1px_white{border:1px solid #fff;}
.border_top_1px_white{border-top:1px solid #fff;}
.border_top_2px_white{border-top:2px solid #fff;}

