
/*==================================================================================================

	12. MISC STYLES

==================================================================================================*/

$imgPath : "/wp-content/themes/atelier_base_2015/furniture/images/";


@mixin background-size($args...) {
  -webkit-background-size: $args;
  -moz-background-size: $args;
  -ms-background-size: $args;
  -o-background-size: $args;
  background-size: $args;
}

@mixin duration($args...) {
  -webkit-animation-duration: $args;
  -moz-animation-duration: $args;
  -o-animation-duration: $args;
  animation-duration: $args;
}

@mixin delay($args...) {
  -webkit-animation-delay: $args;
  -moz-animation-delay: $args;
  -o-animation-delay: $args;
  animation-delay: $args;
}


/*------ ANIMATION SETTINGS -------*/

.delay_1_5_secs {
    @include duration(9s);
    @include delay(1.5s);
    }

.delay_0_7_secs {
    @include duration(9s);
    @include delay(0.7s);
    }






.skip-link { position: absolute; top: -200px; left: 0px; width: 10px; height: 10px; z-index: 100; }

div.pagination { float: left; width: 100%; padding: 20px 0 0 0;	}

#map { margin: 0 0 10px 0; }

.featured_image { float: right; margin: 0 0 15px 15px; }

.opacity_half {
    opacity: 0.5;
/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  }

.opacity-0-3 {
    opacity: 0.3;
    /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    }


.alignright {
float:right;
}

img.alignright {
margin: 0 0 10px 20px;
}

.alignleft {
float:left;
}

img.alignleft {
margin: 0 20px 10px 0;
}

.border_radius_20 { border-radius: 20px; }


/*  --------------------------------------------------
    Grid Misc Styles
    -------------------------------------------------- */


img.circle_mask { border-radius: 50%; overflow: hidden; }

img { width: 100%; }

img.max_height, .max_height img { height: auto; }

img.no_max_width, img.wpcf7-captchac { width: auto!important; }


img.half_width { width: 50%; height: 0; }



img.featured_image { width: 40%!important; float: right; margin: 0 0 40px 5%; }
img.secondary_image { width: 26%!important; float: left; margin: 0 5% 0px 0; }

.content img { width: auto; max-width: auto; }

.content img.feauted_image_content { width: 100%; max-width: 100%; }

$imgPath : "/wp-content/themes/atelier_base_2015/furniture/images/";

/*
#map_canvas img,
#map_canvas embed,
#map_canvas object,
.map_canvas img,
.map_canvas embed,
.map_canvas object {
  max-width: none !important; }

.hide { display: none; }

.map img, img.indicator {
max-width: none;
height: auto;
width: auto;
}

#map img, .map_canvas img, img.no_width {
max-width: none!important;
}

*/

/*  --------------------------------------------------
Grid Misc Styles
-------------------------------------------------- */

img { max-width: 100%; height: auto; }
img { -ms-interpolation-mode: bicubic; }
#map_canvas img, .map_canvas img {  max-width: none!important; }

/* Nicolas Gallagher's micro clearfix */
.row { *zoom: 1; }
.row:before, .row:after { content: ""; display: table; }
.row:after { clear: both; }


.box_sizing {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
}

/*  --------------------------------------------------
    ATELIER POSITIONING - MARGIN PADDING ETC
    -------------------------------------------------- */

.inline_block { display: inline-block; }

.display_block { display: block; }

.display_none { display: none; }

.page-id-1136 .content { display: none!important; }

.show { display: block!important; }

/*---------- POSITIONING ---------**/

.float_right { float: right; }

.float_left { float: left; }

.float_none { float: none !important; }

.clear { clear: both; }

.no_clear { clear: none!important; }

.overflow_hide { overflow: hidden; }


.relative { position: relative; }

.centre { margin: 0 auto; max-width: 100%; display: block; }

.vertical_centre {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    }


.z_index_top { z-index: 7000; }

.z_index_middle { z-index: 400; }

.z_index_bottom { z-index: 1; }


/*----------- CLASSES TO SHOW HIDE ANIMATED PANELS ON SCROLL - http://www.web2feel.com/tutorial-for-animated-scroll-loading-effects-with-animate-css-and-jquery/  ---------------*/

.scroll_hide{ opacity:0; }

.scroll_show{ opacity:1; }


/* End Various Tags & Classes*/
