/*==================================================================================================
	
	20. MOBILE STYLES
	
==================================================================================================*/

 
/*----- FONT SIZE --- */


    html .font12 {
    font-size: 12px;
    line-height: 18px;
    }

    html .font16 {
    font-size: 14px;
    line-height: 22px;
    }

    html .font18 {
    font-size: 16px;
    line-height: 18px;
    }

    html .font20 {
    font-size: 16px;
    line-height: 22px;
    }

    html .font24 {
    font-size: 24px;
    line-height: 28px;
    }

    html .font27 {
    font-size: 27px;
    line-height: 30px;
    }

    html .font35 {
    font-size: 35px;
    line-height: 39px;
    }

    html .font40 {
    font-size: 30px;
    line-height: 32px;
    }

    html .font45 {
    font-size: 26px;
    line-height: 30px;
    }

    html .font50 {
    font-size: 35px;
    line-height: 44px;
    }

    html .font60 {
    font-size: 40px;
    line-height: 44px;
    }

    html .font72 {
    font-size: 32px;
    line-height: 36px;
    }

