/*==================================================================================================
	
	MOBILE STYLES
	
==================================================================================================*/


 
    html, body {font-size:16px; line-height: 20px;}

    html .container, html .row .row, html .map .row { width: 100%!important; margin: 0 auto; }

    html .row { width: 80%!important; margin: 0 auto; }

    html header > .row, html #contact > .row { width: 100%!important; margin: 0 auto; }

    html .mobile_width_full { width: 100%!important; float: left; padding: 0; z-index: 1; }


    html .mobile_column {
        float: left;
        min-height: 1px;
        margin-left: 4.4%!important;
        position: relative;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box; /* Firefox, other Gecko */
        box-sizing: border-box; /* Opera/IE 8+ */
    }

    html .mobile_column:first-child { margin-left: 0%!important; }


/*------------ PHONE GRID -----------*/

    .phone-one.mobile_column { width: 21.68% !important; }
    .phone-two.mobile_column { width: 47.8% !important; }
    .phone-three.mobile_column { width: 73.9% !important; }
    .phone-four.mobile_column { width: 100% !important; margin-left: 0!important; }

    /*------------ HIDE -----------*/

    html .hide-on-phones { display: none; }

    html .hide-on-tablets { display: none; }

    html .hide-on-desktops { display: block; }

    /*------------ SHOW -----------*/

    html .show-on-phones { display: block; }

    html .show-on-tablets { display: block; }

    html .show-on-desktops { display: none; }




/* ----- RESETS FOR DESKTOP LAYOUT */

    html .columns.no_margin { margin-left: 0; }
    html .columns.margin { margin-left: 0%; }
    html .columns { margin-left: 0%; float: left; min-height: 1px; position: relative; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
    html .column:first-child, .columns:first-child { margin-left: 0; }

    html .related_services .columns { margin-left: 0!important; margin-right: 0%!important; }
    html .related_services .columns:nth-child(3n) { margin-left: 0!important; margin-right: 0%!important; }

/*  --------------------------------------------------
    Columns
    -------------------------------------------------- */

    html .row .one.columns       { width: 100%; }
    html .row .two.columns       { width: 100%; }
    html .row .three.columns     { width: 100%; }
    html .row .four.columns      { width: 100%; }
    html .row .five.columns      { width: 100%; }
    html .row .six.columns       { width: 100%; }
    html .row .seven.columns     { width: 100%; }
    html .row .eight.columns     { width: 100%; }
    html .row .nine.columns      { width: 100%; }
    html .row .ten.columns       { width: 100%; }
    html .row .eleven.columns    { width: 100%; }
    html .row .twelve.columns    { width: 100%; }

