
/*==================================================================================================

  10. MAIN NAVIGATION - CSS DROP DOWN MENU WITH JQUERY FADE IN EFFECT - ALTERED BY ATELIER - INSPIRED BY - http://www.webinterfacelab.com/snippets/tabbed-navigation

==================================================================================================*/

/*------ MAIN NAV ITEMS ---------*/

ul.main_nav > li {
  float: left;
  border-right: 1px solid #FFFFFF;
  }

  ul.main_nav > li > a {
  display: block;
  height: 32px;
  font-size: 1.1em;
  padding: 12px 20px 0 20px;
  color: #fff;
  font-weight: bold;
  background: #000;
  text-decoration: none;
  }

  ul.main_nav > li > a:hover {
  text-decoration: none;
  color: #FFFFFF;
  background-color: #999;
  }

  ul.main_nav > li.active > a,
  ul.main_nav > li > a:active,
  ul.main_nav > li.dropdown:hover > a {
  background: #999;
  color: #FFFFFF;
  }

/*------ CASCADING STYLES FOR DROP DOWN LINK STYLES ---------*/

li.dropdown ul {
  background: #999;
  border-top: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
  }

li.dropdown li {
  display: block;
  overflow: visible;
  float: left;
  }

li.dropdown li a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  float: left;
  min-width: 140px;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  }

  li.dropdown li a:hover {
  color: #fff;
  background: #000000;
  text-decoration: underline;
  }

/*------ DROP DOWN LEVEL ONE ---------*/

li.dropdown {
  position: relative;
  }

li.dropdown ul {
  display: none;
  position: absolute;
  top: 44px;
  left: -1px;
  min-width: 180px;
  }

/*------ DROP DOWN LEVEL TWO ---------*/

li.dropdown > ul > li.page_item {
  position: relative;
  }

li.dropdown > ul > li.page_item ul {
  display: none;
  position: absolute;
  top: -1px;
  left: 180px;
  min-width: 180px;
  }



  /*==================================================================================================

    11. SIDEBAR SUB NAVIGATION

  ==================================================================================================*/

  ul.sidebar_nav {
    float: left;
    width: 100%;
    background: #EEE;
    }

    ul.sidebar_nav li {
    float: left;
    clear: both;
    width: 100%;
    }

    ul.sidebar_nav li a {
    display: block;
    padding: 8px 0 8px 15px;
    color:#4d4f53;
    text-decoration: none;
    border-bottom: 1px solid #999999;
    }

    ul.sidebar_nav li.current_page_item a {
    color: #000;
    }

      ul.sidebar_nav li.current_page_item a:hover,
      ul.sidebar_nav li a:hover {
      text-decoration: underline;
      }

  /* --------------------- SECOND LEVEL NAVIGATION ------------------------- */

  ul.sidebar_nav li.current_page_item ul,
  ul.sidebar_nav li.current_page_ancestor ul {
    display: block;
    clear: both;
    float: left;
    width: 100%;
    list-style: none;
    }

    ul.sidebar_nav li.current_page_item ul li,
    ul.sidebar_nav li.current_page_ancestor ul li {
    clear: both;
    width: 100%;
    }

    ul.sidebar_nav li.current_page_item ul li a,
    ul.sidebar_nav li.current_page_ancestor ul li a {
    color: #666666;
    text-decoration: none;
    padding: 8px 0 8px 40px;
    }

    ul.sidebar_nav li.current_page_item ul li.current_page_item a,
    ul.sidebar_nav li.current_page_ancestor ul li.current_page_item a {
    color: #000;
    }

      ul.sidebar_nav li.current_page_item ul li a:hover {
      text-decoration: underline;
      }
