@media print {

  tr, img { page-break-inside: avoid; }
  html img { width: 100%!important; max-width: 100%; display: block; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3, img { page-break-after: avoid; }
 
/*------ ADDED BY ATELIER --------*/
  
  .no_print { display: none!important; }

  body header {
  width: 100%;
  height: 90px!important;
  top: 0px!important;
  left: 0px!important;
  position: relative!important;
  }

  .header_banner { margin-top: 0px!important; }

  html .text_panel {
    background: none;
    z-index: 100;
    padding-left: 0px;
  }

/*----------- CLASSES TO SHOW HIDE ANIMATED PANELS ON SCROLL - http://www.web2feel.com/tutorial-for-animated-scroll-loading-effects-with-animate-css-and-jquery/  ---------------*/

.scroll_hide{ opacity:1; }

.scroll_show{ opacity:1; }


html img.image_pos, html img.image_pos_base, html img.fade_in_scroll {
    position: relative;
    float: left;
    top: auto;
    left: auto;
    z-index: 200;
    } 


html header .telephone { position: absolute; right: 0px;  }

html img.image_pos_base { padding-top: 40px; }

html img.image_pos { padding-bottom: 40px; }

.overflow_hide { overflow: visible; }


html .indy_living {
  position: relative;
  margin-top: 0;
  z-index: 800;
  }



/*  --------------------------------------------------
    Columns
    -------------------------------------------------- */

    html .row .one.columns       { width: 100%; }
    html .row .two.columns       { width: 100%; }
    html .row .three.columns     { width: 100%; }
    html .row .four.columns      { width: 100%; }
    html .row .five.columns      { width: 100%; }
    html .row .six.columns       { width: 100%; }
    html .row .seven.columns     { width: 100%; }
    html .row .eight.columns     { width: 100%; }
    html .row .nine.columns      { width: 100%; }
    html .row .ten.columns       { width: 100%; }
    html .row .eleven.columns    { width: 100%; }
    html .row .twelve.columns    { width: 100%; }



}   

