/*  
  Theme Name: Atelier 2015
  Description: Main Style Sheet
  Author: Atelier Studios
  Author URI: http://www.atelier-studios.com/
  Original Date: Feb 2015
*/


/*==================================================================================================

    1. GLOBAL RESETS
    
 ====================================================================================================*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
    
}

html, body {
height: 100%;
width: 100%;
}

table {
border-collapse: separate;
border-spacing: 0;
}
/* Prevents sub and sup affecting line-height in all browsers - gist.github.com/413930 */
sub, sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
top: -.5em;
}

sub {
bottom: -.25em;
}

caption, th, td {
text-align: left;
font-weight: normal;
}

table, td, th {
vertical-align: top;
}

blockquote:before, blockquote:after, q:before, q:after {
content: "";
}

blockquote, q {
quotes: "" "";
}

a img {
border: none;
}
/* || Reset all margins/padding => */
* {
margin: 0;
padding: 0;
}
/* || Gets rid of outlined links in Firefox => */
a {
outline: none;
}

a:hover, a:active {
outline: 0;
}
/* || No boders on images and displays them as block level elements in IE6 => */
img {
border: 0;
padding: 0;
margin: 0;
display: block;
}

br {
clear: both;
line-height: 10px;
}

div.content br {
clear: none;
line-height: 10px;
}

ul {
margin: 0;
padding: 0;
list-style-type: none;
}

ul li {
margin: 0;
padding: 0;
list-style: none;
}
/* || HTML 5 Resets taken from normalize.css 17-01-2012- http://github.com/necolas/normalize.css => */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
display: block;
}

audio, canvas, video {
display: inline;
}

audio:not([controls]), [hidden] {
display: none;
}
/* || Form Resets taken from normalize.css 17-01-2012- http://github.com/necolas/normalize.css => */
legend {
border: 0;
white-space: normal;
margin-left: -7px;
padding: 0;
}

button, input, select, textarea {
font-size: 100%;
vertical-align: middle;
margin: 0;
}

button, input {
line-height: normal;
}

button, input[type=button], input[type=reset], input[type=submit] {
cursor: pointer;
-webkit-appearance: button;
overflow: visible;
box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
}

input[type=checkbox], input[type=radio] {
box-sizing: border-box;
height: 13px;
width: 13px;
padding: 0;
}

input[type=search] {
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}

button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
padding: 0;
}

textarea {
overflow: auto;
vertical-align: top;
}

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
-webkit-appearance: none;
}

form, input, textarea, label, select, fieldset {
margin: 0;
padding: 0;
}

input {
border: none;
border: 0px solid #FFFFFF;
vertical-align: top;
overflow: visible;
}


/*------------- FOUNDATION 5 RESETS ------------*/



html, body {
height: 100%; }

html,
body {
font-size: 100%; }

a:hover {
cursor: pointer; }

img,
object,
embed {
max-width: 100%;
height: auto; }

object,
embed {
height: 100%; }

img {
-ms-interpolation-mode: bicubic; }

*,
*:before,
*:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box; }

.antialiased {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; }

textarea {
height: auto;
min-height: 50px; }

select {
width: 100%; }


* {
  box-sizing: border-box;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { border: 1px solid green; }*/



/*! normalize.css v2.1.2 | MIT License | git.io/normalize */

/* ==========================================================================
HTML5 display definitions
========================================================================== */

/**
* Correct `block` display not defined in IE 8/9.
*/

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
display: block;
}

/**
* Correct `inline-block` display not defined in IE 8/9.
*/

audio,
canvas,
video {
display: inline-block;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/

audio:not([controls]) {
display: none;
height: 0;
}

/**
* Address `[hidden]` styling not present in IE 8/9.
* Hide the `template` element in IE, Safari, and Firefox < 22.
*/

[hidden],
template {
display: none;
}

script {
display: none !important;
}

/* ==========================================================================
Base
========================================================================== */

/**
* 1. Set default font family to sans-serif.
* 2. Prevent iOS text size adjust after orientation change, without disabling
*    user zoom.
*/

html {
font-family: sans-serif; /* 1 */
-ms-text-size-adjust: 100%; /* 2 */
-webkit-text-size-adjust: 100%; /* 2 */
}

/**
* Remove default margin.
*/

body {
margin: 0;
}

/* ==========================================================================
Links
========================================================================== */

/**
* Remove the gray background color from active links in IE 10.
*/

a {
background: transparent;
}

/**
* Address `outline` inconsistency between Chrome and other browsers.
*/

a:focus {
outline: none;
}

/**
* Improve readability when focused and also mouse hovered in all browsers.
*/

a:active,
a:hover {
outline: 0;
}

/* ==========================================================================
Typography
========================================================================== */

/**
* Address variable `h1` font-size and margin within `section` and `article`
* contexts in Firefox 4+, Safari 5, and Chrome.
*/

h1 {
font-size: 2em;
margin: 0.67em 0;
}

/**
* Address styling not present in IE 8/9, Safari 5, and Chrome.
*/

abbr[title] {
border-bottom: 1px dotted;
}

/**
* Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
*/

b,
strong {
font-weight: bold;
}

/**
* Address styling not present in Safari 5 and Chrome.
*/

dfn {
font-style: italic;
}

/**
* Address differences between Firefox and other browsers.
*/

hr {
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}

/**
* Address styling not present in IE 8/9.
*/

mark {
background: #ff0;
color: #000;
}

/**
* Correct font family set oddly in Safari 5 and Chrome.
*/

code,
kbd,
pre,
samp {
font-family: monospace, serif;
font-size: 1em;
}

/**
* Improve readability of pre-formatted text in all browsers.
*/

pre {
white-space: pre-wrap;
}

/**
* Set consistent quote types.
*/

q {
quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
* Address inconsistent and variable font size in all browsers.
*/

small {
font-size: 80%;
}

/**
* Prevent `sub` and `sup` affecting `line-height` in all browsers.
*/

sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}

sup {
top: -0.5em;
}

sub {
bottom: -0.25em;
}

/* ==========================================================================
Embedded content
========================================================================== */

/**
* Remove border when inside `a` element in IE 8/9.
*/

img {
border: 0;
}

/**
* Correct overflow displayed oddly in IE 9.
*/

svg:not(:root) {
overflow: hidden;
}

/* ==========================================================================
Figures
========================================================================== */

/**
* Address margin not present in IE 8/9 and Safari 5.
*/

figure {
margin: 0;
}

/* ==========================================================================
Forms
========================================================================== */

/**
* Define consistent border, margin, and padding.
*/

fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em;
}

/**
* 1. Correct `color` not being inherited in IE 8/9.
* 2. Remove padding so people aren't caught out if they zero out fieldsets.
*/

legend {
border: 0; /* 1 */
padding: 0; /* 2 */
}

/**
* 1. Correct font family not being inherited in all browsers.
* 2. Correct font size not being inherited in all browsers.
* 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
*/

button,
input,
select,
textarea {
font-family: inherit; /* 1 */
font-size: 100%; /* 2 */
margin: 0; /* 3 */
}

/**
* Address Firefox 4+ setting `line-height` on `input` using `!important` in
* the UA stylesheet.
*/

button,
input {
line-height: normal;
}

/**
* Address inconsistent `text-transform` inheritance for `button` and `select`.
* All other form control elements do not inherit `text-transform` values.
* Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
* Correct `select` style inheritance in Firefox 4+ and Opera.
*/

button,
select {
text-transform: none;
}

/**
* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
*    and `video` controls.
* 2. Correct inability to style clickable `input` types in iOS.
* 3. Improve usability and consistency of cursor style between image-type
*    `input` and others.
*/

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button; /* 2 */
cursor: pointer; /* 3 */
}

/**
* Re-set default cursor for disabled elements.
*/

button[disabled],
html input[disabled] {
cursor: default;
}

/**
* 1. Address box sizing set to `content-box` in IE 8/9.
* 2. Remove excess padding in IE 8/9.
*/

input[type="checkbox"],
input[type="radio"] {
box-sizing: border-box; /* 1 */
padding: 0; /* 2 */
}

/**
* 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
* 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
*    (include `-moz` to future-proof).
*/

input[type="search"] {
-webkit-appearance: textfield; /* 1 */
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box; /* 2 */
box-sizing: content-box;
}

/**
* Remove inner padding and search cancel button in Safari 5 and Chrome
* on OS X.
*/

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none;
}

/**
* Remove inner padding and border in Firefox 4+.
*/

button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0;
}

/**
* 1. Remove default vertical scrollbar in IE 8/9.
* 2. Improve readability and alignment in all browsers.
*/

textarea {
overflow: auto; /* 1 */
vertical-align: top; /* 2 */
}

/* ==========================================================================
Tables
========================================================================== */

/**
* Remove most spacing between table cells.
*/

table {
border-collapse: collapse;
border-spacing: 0;
}
