
/*==================================================================================================

    NAVIGATION

==================================================================================================*/


body ul.main_nav {
  float: right;
  }

/*------ MAIN NAV ITEMS ---------*/

body ul.main_nav > li {
  float: left;
  width: 100%;
  border-right: none;
  }
  
  body ul.main_nav > li > a {
  display: block;
  height: auto!important;
  padding: 20px 20px 20px 30px;
  font-size: 18px;
  text-align: left;
  color: #fff;
  width: 100%;
  text-decoration: none;
  }
  
  body ul.main_nav > li > a:hover,
  body ul.main_nav > li.dropdown:hover > a,
  body.home ul.main_nav > li > a.home,
  body.category-news ul.main_nav > li > a.news,
  body.single ul.main_nav > li > a.news,
  body.page-id-1130 ul.main_nav > li > a.about,
  body.page-id-1136 ul.main_nav > li > a.services,
  body.parent-pageid-1136 ul.main_nav > li > a.services,
  body.page-id-1169 ul.main_nav > li > a.support,
  body.page-id-1134 ul.main_nav > li > a.contact {
  background: #019eb1;
  color: #FFFFFF;
  }

     ul.main_nav li a:hover { background: #019eb1;}
     ul.main_nav li.current a { background:#019eb1; }
  
      
/*--------- Hide the sub nav items in the slide out nav -------------*/

 ul.main_nav li ul { display: none!important;  }



/*==================================================================================================

    10. BIG SLIDE  - slide panel navigation - BIG SLIDE - http://ascott1.github.io/bigSlide.js/

==================================================================================================*/

.wrap {
  position: relative;
  max-width: 100%;
}

.panel {
  background: #292929;
  z-index: 9999;
  position: fixed;
  right: -11.625em; /*or width of your navigation panel*/
  width: 11.625em; /*should match the above value*/
}

.hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


/*==================================================================================================

    10. ANIMATED HAMBURGER MENU - http://codepen.io/stevenfabre/pen/LGvzk

==================================================================================================*/

/*----- NAV CONTAINER --- */


.menu { 
    position: absolute;
    z-index: 900;
    bottom: 23px;
    right: 60px;
    width: 42px;
    height: 30px;
    }


/*----- HAMBURGER MENU - PURE CSS NO IMAGES --- */


#hamburger-icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    float: right;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center center;
    outline: none;
}

#hamburger-icon .line {
  display: block;
  background: #fff;
  width: 35px;
  height: 4px;
  position: absolute;
  left: 0;
  /*border-radius: 4px;*/
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

#hamburger-icon .line.line-1 { top: 0; }
#hamburger-icon .line.line-2 { top: 28%;}
#hamburger-icon .line.line-3 { top: 55%; }

#hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
}
#hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
  transform: translateY(4px);
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
}
#hamburger-icon.active .line-1 {
  transform: translateY(12px) translateX(0) rotate(45deg);
  -webkit-transform: translateY(12px) translateX(0) rotate(45deg);
  -moz-transform: translateY(12px) translateX(0) rotate(45deg);
}
#hamburger-icon.active .line-2 {
  opacity: 0;
}
#hamburger-icon.active .line-3 {
  transform: translateY(-10px) translateX(0) rotate(-45deg);
  -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
  -moz-transform: translateY(-10px) translateX(0) rotate(-45deg);
}

