/*==================================================================================================
	
TABLET STYLES
	
==================================================================================================*/
	
    .tablet-one.tablet_column { width: 21.68% !important; }
    .tablet-two.tablet_column { width: 47.8% !important; }
    .tablet-three.tablet_column { width: 73.9% !important; }
    .tablet-four.tablet_column { width: 100% !important; margin-left: 0!important; }


    /*------------ HIDE -----------*/

    body .hide-on-phones { display: inline-block; }

    body .hide-on-tablets { display: none; }

    body .hide-on-desktops { display: none; }

    /*------------ SHOW -----------*/

    body .show-on-phones { display: block; }

    body .show-on-tablets { display: block; }

    body .show-on-desktops { display: none; }

