/*==================================================================================================

	8. TABLES

====================================================================================================*/

div#content table {
	width: 100%;
	border-collapse: collapse;
	margin: 0 0 20px 0;
	}

	div#content table th {
	padding: 7px 15px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	border-right: 1px solid #FFFFFF;
	}

	div#content table td {
	padding: 7px 15px;
	border-bottom: 1px solid #CCCCCC;
	}
