

/*==================================================================================================

	BOX MODEL

==================================================================================================*/

* { box-sizing: border-box; }


/*==================================================================================================

	COLOURS

==================================================================================================*/


.darkblue { color: $darkblue; }
.lightblue { color: $lightblue; }
.red { color: $red; }
.dark_red { color: $dark_red; }
.yellow { color: $yellow; }
.white { color: #fff; }
.black { color: #000; }
.grey { color: $grey; }
.grey_light { color: $grey_light; }
.orange { color: $orange; }
.turquoise { color: $turquoise; }
.magenta { color: $magenta; }
.purple { color: $purple; }


.darkblue_bg { background: $darkblue; }
.red_bg { background: $red; }
.dark_red_bg { background: $dark_red; }
.yellow_bg { background: $yellow; }
.white_bg { background: #fff; }
.black_bg { background: #000; }
.grey_bg { background: $grey; }
.grey_light_bg { background: $grey_light; }
.orange_bg { background: $orange; }
.turquoise_bg { background: $turquoise; }
.lightorange { background: $lightorange; }
.magenta_bg { background: $magenta; }
.purple_bg { background: $purple; }
.magenta_light_bg { background: $magenta_light; }



/*==================================================================================================

	4. MAIN STRUCTURE

==================================================================================================*/

div#page_centre {
	margin: 0 auto;
	max-width: 980px;
	height: auto;
	position: relative;
	z-index: 5;
	}

header {
	width: 100%;
	height: 154px;
	position: relative;
	z-index: 60;
	/*background-color: #FFCC33;*/
	}

	nav {
	width: 100%;
	height: 44px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	z-index: 40;
	background-color: #000;
	}

div.content_container {
	position: relative;
	z-index: 10;
	margin: 30px 0 20px 0;
	float: left;
	color:#999999
	}

	div#content {
	background-color: #FFFFFF;
	position: relative;
	z-index: 40;
	}

	#sidebar {
	/*background: #99CC33;*/
	position: relative;
	z-index: 50;
	}

footer {
	float: left;
	clear: both;
	width: 100%;
	position: relative;
	z-index: 30;
	padding: 20px 0 40px 0;
	border-top: 1px solid #CCCCCC;
	/*background-color: #9966CC;*/
	}




/*==================================================================================================

	6. INNER ELEMEMTS

==================================================================================================*/


/*	--------------------------------------------------
	Panels
	-------------------------------------------------- */

	.white_panel { background: #fff;	}

	.light_grey_panel { background: #ededed; }

	.green_panel { background: #6fa651; }

	.brown_panel { background: #855024; }

	.beige_panel { background: #f3eedf; }


/*---------- Homepage Slider Styles -----------*/

div.sub_header {
	background-color: #C9C9C9;
	position: relative;
	width: 980px;
	height: 300px;
	z-index: 10;
	margin: 0 0 20px 0;
	}

	div.slide_container {
	float: left;
	width: 980px;
	height: 300px;
	position: relative;
	overflow: hidden;
	z-index: 10;
	margin: 0 0 20px 0;
	}

	div.slide {
	width: 100%;
	height: 300px;
	}

	/*---------- Slides - The Post ID is applied to the slides so these numbers won't always be sequential  -----------*/

	div.slide_wrapper {
	margin: 0 auto;
	width: 100%;
	height: 300px;
	position: relative;
	}



	/*---------- Slide Images - By default images are added to the slides by the styles below  -----------*/

	div.text_position {
	position: absolute;
	width: 410px;
	height: 180px;
	top: 85px;
	right: 55px;
	z-index: 500;
	}

	div.slide_image {
	background-repeat: no-repeat;
	position: absolute;
	z-index: 20;
	width: 200px;
	height: 200px;
	top: 50px;
	left: 50px;
	}


/*---------- Homepage Slider Nav -----------*/


div.slider_nav_conatiner {
	float: left;
	clear: both;
	position: relative;
	height: 1px;
	width: 100%;
	z-index: 9999;
	}

ul.slider_nav {
	width: 160px;
	height: 15px;
	position: absolute;
	bottom: 50px;
	left: 460px;
	z-index: 8888;
	list-style: none;
	}

	ul.slider_nav li {
	float: left;
	padding: 0 10px 0 0;
	}

	ul.slider_nav li a {
	display: block;
	text-indent: -9999px;
	overflow: hidden;
	background: #000000;
	width: 8px;
	height: 8px;
	opacity:0.6;
		filter:alpha(opacity=60); /* For IE8 and earlier */
	}

	ul.slider_nav li.activeSlide a {
	opacity: 1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */
	}

/*---------------------------- NEWS STYLES ----------------------------*/

.news_article_container {
	float: left;
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #e2e2e2;
	}

	.news_article_container:first-child {
	padding: 0 0 20px 0;
	border-top: none;
	}

	p.news_month {
		color: #FFFFFF;
		font-size: 12px;
		font-weight: bold;
		padding: 6px 0;
		text-align: center;
	background: #999;
	}

	p.news_day {
		color: #666666;
		font-family: Georgia,"Times New Roman",Times,serif;
		font-size: 24px;
		font-style: italic;
		font-weight: bold;
		line-height: 26px;
		padding: 6px 0 10px 0;
		text-align: center;
	border: 1px solid #e2e2e2;
	}
