
/*==================================================================================================

	2. TYPOGRAPHY

 ====================================================================================================*/

body, button, input, select, textarea {
	font-size: 14px;
	line-height: 23px;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif;
	color: #4c4c4c;
	font-weight: 400;
	text-align: left;
	}


	.align_right { text-align: right; }
	.align_left { text-align: left;	}
	.align_centre { text-align: center;	}

p {	padding: 0 0 15px 0; }


/*--------------- FONT SIZE --------------- */

	.font11 { font-size: 11px; line-height: 14px;	}

	.font12 { font-size: 12px; line-height: 18px; }

	.font16 { font-size: 16px; line-height: 22px; }

	.font18 { font-size: 18px; line-height: 22px; }

	.font20 { font-size: 20px; line-height: 22px; }

	.font24 { font-size: 24px; line-height: 28px; }

	.font27 { font-size: 27px; line-height: 30px; }

	.font35 { font-size: 35px; line-height: 39px; }

	.font40 { font-size: 40px; line-height: 44px; }

	.font45 { font-size: 45px; line-height: 48px; }

	.font50 { font-size: 50px; line-height: 44px; }

	.font60 { font-size: 60px; line-height: 64px; }

	.font72 { font-size: 72px; line-height: 78px; }


/*--------------- fonts-new --------------- */


 .wf-loading h1 {
    visibility: hidden;
  }




/*--------------- HEADINGS --------------- */

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	color: #182b49;
	font-weight: 700;
	}

h1 {
	padding: 0 0 15px 0;
	font-size: 36px;
	line-height: 40px;
	}

h2 {
	padding: 0 0 15px 0;
	font-size: 30px;
	line-height: 34px;
	}

h3 {
	padding: 0 0 15px 0;
	font-size: 32px;
	line-height: 36px;
	}

h4 {
	padding: 0 0 15px 0;
	font-size: 18px;
	line-height: 22px;
	}

h5 {
	padding: 0 0 15px 0;
	font-size: 16px;
	line-height: 20px;
	}

h6 {
	padding: 0 0 15px 0;
	font-size: 14px;
	line-height: 18px;
	}

/*--------------- OTHER TEXT STYLES --------------- */

.bold { font-style: normal; font-weight: 700; }

.italic { font-style: italic; }

.uppercase { text-transform: uppercase; }


strong {
	font-weight:bold;
	}

em {
	font-style:italic;
	display:inline;
	}

blockquote {
	margin: 0;
	padding: 0;
	border: none;
	}

	blockquote cite {
	margin: 5px 0 0;
	display: block;
	}

	div.content blockquote {
	float: left;
	color: #333333;
	margin:0;
	padding:24px;
	text-align:justify;
	}

hr {
	border: 0;
	color: #cfd0d4;
	background-color: #cfd0d4;
	height: 1px;
	font-size: 1px;
	line-height: 1px;
	margin: 6px 0 10px 0 ;
	padding: 0;
	}
