/* new login logo */
.login h1 a {
	display: block;
	background: url(/wp-content/themes/atelier_base/furniture/images/admin_area/login_page_logo.gif) no-repeat center 0; 
	height: 110px; 
	}

/* new header logo */
#header-logo { 
	background-image: none; 
	width: 1px; 
	}

/* new header and footer gradient */
#wphead, #footer { 
	}

.edit-php #postid { 
	width: 50px; 
	}