
/*==================================================================================================

	COLOURS

==================================================================================================*/

$darkblue: #052b36;
$lightblue: #536f9b;
$turquoise: #019eb1;
$grey: #8d9ba1;
$grey_light: #e9e9e9;
$red: #f95934;
$dark_red: #8c1818;
$yellow: #f9c234;
$grey: #7b7b7b;
$black: #000;
$white: #fff;
$orange: #f3a51d;
$lightorange: #fff5e1;
$purple: #883a89;
$magenta: #c50084;
$magenta_light: #e688c7;


@import 'compass';
@import 'partials/resets';
@import 'partials/clearfix';
@import 'partials/breakpoints';
@import 'partials/typography';
@import 'partials/links';
@import 'partials/layout';
@import 'partials/margin_padding';
@import 'partials/heights';
@import 'partials/theme';
@import 'partials/buttons';
@import 'partials/lists';
@import 'partials/tables';
@import 'partials/navigation';
@import 'partials/misc';
@import 'partials/imgreplacement';
@import 'partials/forms';
@import 'partials/cookie';
@import 'partials/animate';
@import 'partials/ie-styles';
